[2018-11-29 18:08] muffinresearch opened #5 "CSP is currently blocking some script"
Currently seeing the following in the console loading the page:

[code]

[2018-11-29 18:16] muffinresearch opened #8 "CSP needs review"
[code]
Few things that stand-out at a glance:

- `form-action: 'none'` will probably prevent the newsletter form from working.
- `base-uri` should be defined.
- Doe the site need to frame itself? Maybe frame-ancestors could be 'none'
- Can `default-src` be `'none'` that's a tighter default.
- Does script-src need to allow `'unsafe-inline'`? That weakens the CSP considerably.

[2018-11-29 18:25] caitmuenster opened #10 ""Jump to" doesn't work on mobile"
"Jump to" is unresponsive on iOS.

[2018-11-29 18:30] caitmuenster opened #11 "Developer News section doesn't have any content"
The "Latest Developer News" section is currently blank -- it looks like no content is being pulled in from the Add-ons Blog.

Possibly related: [bug filed](https://bugzilla.mozilla.org/show_bug.cgi?id=1507208) for cross-domain permissions

[2018-11-29 18:34] muffinresearch opened #12 "Lot of whitespace at smaller viewports"
Starts at viewport widths less than: 640px:

<img width="590" alt="make_the_web_do_what_you_want____extension_workshop" src="https://user-images.githubusercontent.com/1514/49243462-57367280-f405-11e8-995b-3dc36e60a187.png">

Compared to:

<img width="696" alt="make_the_web_do_what_you_want____extension_workshop" src="https://user-images.githubusercontent.com/1514/49243594-a11f5880-f405-11e8-896a-3

[2018-11-29 20:02] pwalm opened #13 ""Anatomy of an Extension" graphic doesn't expand"
When scrolling down the page, the "Anatomy of an Extension" graphic does not expand or animate. It just shows the wireframe of the box:
<img width="1228" alt="screen shot 2018-11-29 at 11 51 18 am" src="https://user-images.githubusercontent.com/6797635/49248438-8f6e8e80-f3ce-11e8-93f5-4e84fb47803e.png">

Tested on Firefox Nightly, Safari, and Chrome.

[2018-11-29 20:18] MeridelW opened #15 "Change link location for "Get Started" buttons"
These"Get Started" buttons currently go to the AMO home page.
![screen shot 2018-11-29 at 2 16 05 pm](https://user-images.githubusercontent.com/33848177/49249361-8b983780-f3e1-11e8-831e-a7676ca277b0.png)

They should take the user to the "Register or Log in" link, instead:
: https://accounts.firefox.com/oauth/signin?scope=profile&state=86afa67a0b6b78ddcfe98977e2950b074976375c450eea199a82984775481d

[2018-11-29 20:24] MeridelW opened #18 "Extra space beneath "Debug Your Extension""
There is an extra white space beneath "Debug Your Extension":

![screen shot 2018-11-29 at 2 24 02 pm](https://user-images.githubusercontent.com/33848177/49249675-78d23280-f3e2-11e8-9fb2-cf27906c905f.png)

[2018-11-29 20:25] MeridelW opened #20 "Extra space beneath "Publish On Your Own""
There is an extra space beneath "Publish on Your Own"

![screen shot 2018-11-29 at 2 25 11 pm](https://user-images.githubusercontent.com/33848177/49249741-aae39480-f3e2-11e8-9248-a73c47a8ffc7.png)

[2018-11-29 21:03] jtanland opened #30 "Header illustration doesn't animate on scroll (should only do this at desktop sizes)"

[2018-11-30 20:02] jvehent opened #31 "Security Checklist"
Risk Management
---------------
* [x] The service must have performed a Rapid Risk Assessment and have a Risk Record bug
* [x] The service must be registered via a [New Service issue](https://github.com/mozilla-services/foxsec/issues/new?template=NewService.md&labels=New%20Service&assignee=psiinon&title=New%20Service:%20)

Infrastructure
--------------

* [x] Access and application logs must be ar

[2019-01-15 12:46] muffinresearch opened #38 "Add a README with instructions on how to run this locally + deploy"
To help other people contribute to this project it would be useful to have a README detailing how to spin this up locally.

In due course we can also add deployment instructions here too.

[2019-01-23 14:27] muffinresearch opened #39 "Script isn't built from source as a build step"
Ideally a script should be handling bundling of script but right now it seems like `codekit` is being used - which looks to be a desktop app. https://codekitapp.com/

Script should be bundled at build time by a script and **not committed built.**

If it's committed built then no package updates will have any effect and it will look like we have updated versions of dependencies when we don't which

[2019-01-24 11:46] muffinresearch opened #40 "Configure renovate"
Once #32 lands we can file the bugzilla bug to add renovate to this repo.

[2019-01-24 11:49] muffinresearch opened #41 "Add prettier for consistent code style"
Prettier is used on other addons related JS code and it saves a lot of bike-shedding over stylistic concerns.

See https://github.com/mozilla/addons-frontend/blob/master/.prettierrc for config and https://github.com/mozilla/addons-frontend/blob/master/package.json#L33-L35 for how it's exposed as commands.

CI will need to check for un-prettified code - see the `prettier-ci` command in the example

[2019-01-30 14:41] muffinresearch opened #42 "Setup a staging site"
Since we need to iron out some CSP config issues would it be possible to deploy in the same way that we'd deploy to production on a staging site.

Maybe extensionsworkshop.allizom.org could be used or something else? This should be built from master. This way we can iron out the CSP config issues and any other deployment wrinkles ahead of the site being live on https://extensionsworkshop.com.

[2019-02-01 18:05] muffinresearch opened #46 "Language switcher is a no-op"
I'm not sure what the plan is for localization but currently the language switcher isn't actually doing anything.

[2019-02-01 18:29] muffinresearch opened #47 "404 has links and options that aren't relevant"
We need to update the 404 page to be more simple and relevant. See https://mozilla.github.io/extension-workshop/vfdsfds

Currently looks like this:

![extension_workshop___firefox_extension_workshop__make_the_web_do_what_you_want__if_you_can_dream_it__our_open_souce_api_and_your_html__css__and_javascript_skills_can_make_it_happen_](https://user-images.githubusercontent.com/1514/52141992-4d243080-2

[2019-02-01 18:34] muffinresearch commented on #39
This was now migrated to use jekyll-assets in favour of gulp to minimize the moving parts.

[2019-02-01 18:34] #39 closed

[2019-02-01 18:37] muffinresearch commented on #40
Renovate is added and has filed a PR 👍

[2019-02-01 18:37] #40 closed

[2019-02-01 18:38] muffinresearch commented on #46
Agree with @caitmuenster that for now it'll make sense to comment out the switcher and then localization steps can be looked at in a separate issue.

[2019-02-01 18:39] muffinresearch opened #51 "Investigate localization tooling under Jekyll"
As a follow-up to https://github.com/mozilla/extension-workshop/issues/46 let's setup localization tools so that this site can be localized.

[2019-02-01 18:42] muffinresearch commented on #42
Once this is setup we can disable the gh-pages builds because they won't work with the assets pipeline anyway.

[2019-02-01 19:11] muffinresearch opened #52 "Add eslint and fail on errors"
This should be carried out along with a test build on every PR.

[2019-02-01 22:05] caitmuenster commented on #42
Ok, it looks like the stage environment is set up! 🎉 @bqbn, if you could get the basic site up on stage by EOD Monday, that would be great. @muffinresearch will be back from PTO on Tuesday and can start fine-tuning the CSP when he gets back.

[2019-02-02 00:31] bqbn commented on #42
The site is up: https://extensionworkshop.allizom.org/

"master" branch is set up to push to the above site automatically.

[2019-02-02 00:31] #42 closed

[2019-02-05 14:58] #46 closed

[2019-02-05 14:58] #38 closed

[2019-02-05 16:56] muffinresearch commented on #5
Fixed

[2019-02-05 16:56] #5 closed

[2019-02-05 17:20] muffinresearch commented on #13
Fixed see https://extensionworkshop.allizom.org/#anatomy-of-an-extension

[2019-02-05 17:20] #13 closed

[2019-02-05 17:21] muffinresearch commented on #30
Looks to be working now, I think this was due to missing script which was blocked by CSP. See https://extensionworkshop.allizom.org/

[2019-02-05 17:21] #30 closed

[2019-02-05 17:22] muffinresearch commented on #11
This is fixed now.

[2019-02-05 17:22] #11 closed

[2019-02-05 19:40] muffinresearch commented on #41
Fixed

[2019-02-05 19:40] #41 closed

[2019-02-05 20:41] muffinresearch commented on #52
Fixed

[2019-02-05 20:41] #52 closed

[2019-02-05 21:00] #18 closed

[2019-02-05 21:00] #20 closed

[2019-02-06 10:16] #12 closed

[2019-02-06 10:17] muffinresearch commented on #10
This looks to work now, I think it might have been broken by JS not being allowed by CSP.

[2019-02-06 10:17] #10 closed

[2019-02-06 10:43] muffinresearch opened #56 "Reduce image asset sizes"
Image asset sizes are quite large in some cases, let's see if ImageOptim via jekyll-assets can help reduce the sizes as a first pass.

![extension_workshop___firefox_extension_workshop__make_the_web_do_what_you_want__if_you_can_dream_it__our_open_souce_api_and_your_html__css__and_javascript_skills_can_make_it_happen_](https://user-images.githubusercontent.com/1514/52336115-f70f0e80-29fb-11e9-86d4-

[2019-02-06 10:45] muffinresearch opened #57 "Configure Google Analytics"
Once we have a site id to use, it needs to be setup. At the same time we should use a hash for the inline-js in the CSP so that we don't need `unsafe-inline` for `script-src`.

[2019-02-06 12:26] muffinresearch opened #59 "Minify JS"
Currently the asset pipeline isn't compressing JS. The CSS is being minified.

[2019-02-06 13:19] #56 closed

[2019-02-06 13:57] muffinresearch opened #61 "Tracking protection is blocking the youtube related cookies"
If tracking protection is on you see:

[code]

[2019-02-06 14:06] muffinresearch opened #62 "Add a robots.txt file"

[2019-02-06 14:07] #62 closed

[2019-02-06 15:30] muffinresearch opened #63 "Feed generated contains dummy content"
It should be disabled until there's useful content there.
![firefox_nightly](https://user-images.githubusercontent.com/1514/52352232-246fb280-2a24-11e9-8035-835cc9b034c9.jpg)

[2019-02-06 16:17] #59 closed

[2019-02-06 16:17] #63 closed

[2019-02-06 16:47] muffinresearch opened #64 "cloudfront invalidation failing"
Getting the following error on deploys:

[code]

[2019-02-06 16:50] caitmuenster commented on #8
@muffinresearch How's it going with this issue? Anything we can do to help?

[2019-02-06 17:37] muffinresearch commented on #8
I've already re-configured it quite a bit, so most of this should be addressed already.

The GA settings could all be removed until we have GA configured and base-uri still could be defined.

@psiinon I wouldn't mind if you gave this a look too as a sanity check.

[2019-02-06 17:39] muffinresearch commented on #15
@caitmuenster I'm not sure how to action this because these links are generated so we can't link to the link in the issue because it won't actually work.

Maybe this is something that can be tied up when the work to sort out the logged-in/out changes happen over on add-ons server, e.g. if linking to the devhub directly automated a login that would probably be what we need for this too.

[2019-02-06 17:39] psiinon commented on #8
Will do!

[2019-02-06 17:41] caitmuenster commented on #15
@muffinresearch Oh, ok! Let me remove the blocker then -- I thought this was just a matter of updating the URL.

I'm ok with sending folks over to AMO to log in.

[2019-02-06 18:04] psiinon commented on #8
Yeah, looking good with the new spaces.

[2019-02-06 18:10] muffinresearch commented on #15
I think we can solve this by linking directly to https://addons.mozilla.org/en-US/developers/addons as this will start the login process.

[2019-02-06 18:10] caitmuenster commented on #15
WFM!

[2019-02-06 18:53] #15 closed

[2019-02-06 19:24] muffinresearch commented on #8
CSP was missing from statics, so I've just added that plus, `X-frame-options` and `referrer-policy`.

[2019-02-06 22:06] caitmuenster commented on #57
I checked in with Mike and this is not a blocker for deployment. :)

[2019-02-06 23:31] bqbn commented on #64
The failure is because the `aws cloudfront wait invalidation-completed` [[1]](https://github.com/mozilla/extension-workshop/blob/master/.utils/circleci/invalidate-cloudfront-cache.sh#L15-L17) command timed out.

The command polls every 20 seconds until a successful state has been reached. This will exit with a return code of 255 after 30 failed checks. Unfortunately, the maximum wait time is fixed

[2019-02-07 09:45] muffinresearch opened #68 "Firefox download links should have attribution"
The links on AMO have attribution params such as

[code]

This part needs to be added to the end of the download links `?utm_source=extensionworkshop.com&utm_campaign=footer&utm_medium=referral`

[2019-02-07 14:31] muffinresearch commented on #8
@psiinon unless you can spot anything else needed here, I think we can close this out.

[2019-02-07 15:14] psiinon commented on #8
Thats looking good to me

[2019-02-07 17:01] #64 closed

[2019-02-07 17:11] #68 closed

[2019-02-07 17:35] muffinresearch commented on #51
Here's a few things to investigate from https://github.com/planetjekyll/awesome-jekyll-plugins#multi-language--multi-lingual

- [**Language**](https://github.com/vwochnik/jekyll-language-plugin) ★23 (gem: [jekyll-language-plugin](https://rubygems.org/gems/jekyll-language-plugin)) by Vincent Wochnik -- multi-language plugin for posts, pages and includes
- [**Polyglot**](https://github.com/untra/pol

[2019-02-07 19:02] muffinresearch opened #70 "Remove unused content pages."
There's a couple of pages that aren't complete that are being built, let's remove them.

[2019-02-07 19:12] muffinresearch opened #72 "Improve the build speed for local development"
The build is quite slow for local development because all the image optimizations are happening there too. This was useful for setting that up, but it could be configured differently now that things are working so that optimizations only happen in production builds.

The way to do this would be to use a development config file and make modifications for dev.

[2019-02-07 19:14] #8 closed

[2019-02-08 09:47] muffinresearch opened #73 "CSP is blocking frames on the content guidelines"
Causes video to be stuck with a spinner:

![master_template___extension_workshop](https://user-images.githubusercontent.com/1514/52471219-441feb80-2b88-11e9-8b58-65960b8b39b8.jpg)

`frame-src` probably needs: `https://www.youtube.com/embed/`

[2019-02-08 09:48] muffinresearch commented on #70
Further conversations revealed the content guidelines need to be kept so this is invalid.

[2019-02-08 09:48] #70 closed

[2019-02-08 10:42] muffinresearch opened #75 "Images are broken in the content-guidelines examples"
This was due to the change over to the assets pipeline.

[2019-02-08 10:43] #73 closed

[2019-02-08 10:57] psiinon opened #77 "Add security headers to 404s"
The staging site is only failing the security baseline on 2 things - good work team!
Both of them are missing security headers on 404s:

- Content Security Policy (CSP) Header Not Set
- Strict-Transport-Security Header Not Set

[code]

Can these be added?
Its not a blocker to going to production but would be good to fix these soon.

[2019-02-08 11:13] muffinresearch commented on #77
Also the 404 should be serving the 404 content from jekyll at this point which should be found at  /404.html

[2019-02-08 11:23] #75 closed

[2019-02-08 12:26] muffinresearch opened #78 "Add a configurable draft warning to content-guidelines"
Photon guidelines has a neat indicator for content that's in progress we can use something similar configurable per-page:

![helpers](https://user-images.githubusercontent.com/1514/52478259-b7cbf380-2b9c-11e9-9ef1-71b1a44e0af7.jpg)

[2019-02-08 17:49] muffinresearch opened #80 "Content guideline side-bar button + links need updating"
These links on the sidebar don't link anywhere obvious - I presume they're placeholders that need updating.

![master_template___extension_workshop](https://user-images.githubusercontent.com/1514/52495879-d399be80-2bc9-11e9-919b-f15d3dbd5cc9.jpg)

[2019-02-08 17:51] caitmuenster commented on #80
Tagging @MeridelW here. I think they were going to link back into the Dev Hub so developers could edit their product page.

[2019-02-08 17:54] muffinresearch commented on #80
Ah makes sense, so the button can probably link to https://addons.mozilla.org/developers/addons

[2019-02-08 18:46] muffinresearch commented on #72
Currently there's a bug https://github.com/envygeeks/jekyll-assets/pull/554 which has landed in master but isn't yet released. This is going to make turning off image optimizations with an overlaid development config less straightforward.

Possible workarounds:

* Start with a dev config and override for prod
* Use a completely separate config for development.

[2019-02-08 18:56] bqbn commented on #77
I've pushed out a change that let Cloudfront return custom 404 page. Please test it. Thanks!

[2019-02-11 12:17] championshuttler opened #81 "Missing Issue Template for new Issues"
It would be nice if it have issue template for creating new issues like we have in AMO repositories.

[2019-02-11 12:20] championshuttler opened #82 "Links should not force users to direct to English blogs of MDN"
![image](https://user-images.githubusercontent.com/22130317/52562684-4f437780-2e25-11e9-8ac1-2f0633b4150c.png)

Link to `Learn more about extension anatomy` should redirect here to https://developer.mozilla.org/docs/Mozilla/Add-ons/WebExtensions/Anatomy_of_a_WebExtension instead of https://developer.mozilla.org/en-US/docs/Mozilla/Add-ons/WebExtensions/Anatomy_of_a_WebExtension

This is the case wi

[2019-02-11 16:23] #77 closed

[2019-02-11 16:30] caitmuenster commented on #51
One of the admins on the Jekyll support forum recommended https://jekyll-locale.netlify.com/.

@muffinresearch, do you have any recommendations for how to evaluate these options? Or who should do it? :)

[2019-02-11 17:01] #81 closed

[2019-02-11 17:10] #82 closed

[2019-02-11 17:22] #47 closed

[2019-02-11 17:22] #78 closed

[2019-02-11 17:37] caitmuenster commented on #80
Link to "Edit Product Page" has been updated.

Site feedback can go to https://github.com/mozilla/extension-workshop/issues.

Privacy policy can go to https://www.mozilla.org/privacy/websites/  (I think; please correct me if I'm wrong!)

@muffinresearch, I'm not sure where "Changelog" should link to. Can you advise?

[2019-02-11 18:14] caitmuenster opened #85 "Remove Example Two from content guidelines sidebr"
Per Meridel's comments, we can remove Example Two from the content guidelines sidebar.

![screen shot 2019-02-11 at 10 04 03 am](https://user-images.githubusercontent.com/23342476/52583753-3ca94e00-2de5-11e9-8715-f05f0f4bf84b.png)

[2019-02-11 18:29] muffinresearch commented on #51
It really depends on what the translation requirements are.

Based on other sites we have localized we typically integrate with Pontoon, however doing that will likely have some constraints on what tools can be used to create localized versions of the pages.

If we don't use Pontoon, who will be localizing the content? What languages are required?

[2019-02-11 18:30] muffinresearch commented on #80
No changelog exists, so unless one is going to be created I think this can be removed.

[2019-02-11 18:32] caitmuenster commented on #80
That works for me. @MeridelW, is it ok if the changelog is removed?

[2019-02-11 18:37] #85 closed

[2019-02-11 18:41] #80 closed

[2019-02-11 18:45] caitmuenster opened #88 "Clean up movie section of content guidelines master template"
content-guidelines/master-template/ is a bit of a mess at the moment -- there is an untitled movie in the middle of the page with two smaller duplicate movies below.

![screen shot 2019-02-11 at 10 41 18 am](https://user-images.githubusercontent.com/23342476/52585593-09b58900-2dea-11e9-9098-8b28c2969559.png)

@MeridelW, how do you want this to look?

[2019-02-11 18:54] caitmuenster commented on #31
@psiinon, I think we're good to close this out. Can you confirm? :)

[2019-02-11 18:56] caitmuenster commented on #88
We should probably also clean up all of the other "lorem ipsums" in the Heading One, Do's & Don'ts, Requirements, and Stuck? Try This sections.

[2019-02-11 19:08] MeridelW commented on #88
Yes, I need to clean this up, and add the other pages.

I am meeting with Stuart on Wednesday for a tutorial on how to do this. I had met with Lance but unfortunately the way he and I had planned to go about this isn't working.

[2019-02-11 19:19] lancecummings commented on #88
Let me know if you need my input on any of this.

[2019-02-11 20:54] caitmuenster commented on #51
It would be great to integrate with with Pontoon, but it looks like they might not have the bandwidth until Q2/Q3 (see [Bug 1503683](https://bugzilla.mozilla.org/show_bug.cgi?id=1503683)).

Based on last year's add-ons l10n campaign, we would want to target the following locales first:
de, fr, es_ES, ru, pt_BR, zh_CN, pl, it, es_MX, ja, nl

@mconca, do you know if we have any budget to have these

[2019-02-11 21:47] mconca commented on #51
@caitmuenster I wouldn't count on having any budget for translation this year.  If there is any budget left from the design and build of Phase 2, it will likely be used for promotion.

[2019-02-11 21:50] caitmuenster commented on #51
Thanks @mconca! Ok, so we should plan to be dependent on the community for translations.

[2019-02-12 10:50] psiinon commented on #31
@caitmuenster its looking pretty good :)
Just a couple of outstanding issues:

- @Micheletto theres no CSP report-uri set - is this something you can add?
- @Micheletto none of the release tags seem to be signed - can you sign future ones?

[2019-02-12 11:01] muffinresearch commented on #88
Isn't the master template just a grab bag of style options and UI? If so maybe we should consider updating the site to either not link to the master template (probably a `hidden: true` flag mechanism could be added for this) or separately make some changes to only publish it locally.

[2019-02-12 14:48] MeridelW commented on #88
I'm having trouble finding the link to the new repo for the content guidelines (I have the old broken one). @muffinresearch Can you please share with me when get a chance? Thank you!

[2019-02-12 15:27] MeridelW commented on #88
I am all set, thanks!

[2019-02-12 23:37] bqbn commented on #31
@psiinon does static sites must have "report-uri" per secops standard?

Current Ops model for hosting a static website only contains cloudfront, edge lambda and s3 components. "report-uri" means that we very likely need to introduce an ELB and EC2 instances just to host the "report-uri" endpoint. It then requires logging, monitoring and etc.

That said, we can add it if it's a hard requirement, an

[2019-02-13 11:32] muffinresearch commented on #31
@psiinon I don't know that we're signing releases for libs elsewhere in every case - is that a hard requirement?

I'd expect most releases will be done by cutting tags via the github UI. Even if that means it's signed because github creates that tag it does also mean anyone with write perms can release.

[2019-02-13 14:22] muffinresearch opened #90 "Build stage with --unpublished CLI flag"
Jekyll has a feature that would allow using `published: false` in the YAML frontmatter of the markdown files to prevent those pages being published in production.

It would be nice if we could set stage to be built with `jekyll build --unpublished` so these pages are available on stage, but the production build should omit this flag so anything that has `published: false` doesn't make it into prod

[2019-02-13 17:57] muffinresearch commented on #90
I'm closing this because we're going to keep un-published to local previews.

[2019-02-13 17:57] #90 closed

[2019-02-13 17:58] muffinresearch opened #92 "Add published:false to all content-guidelines frontmatter"
This change will meant the content guidelines are no longer published on stage or prod. To preview them you'll need to use the `--unpublished` flag when starting jekyll.

[2019-02-14 11:40] muffinresearch opened #94 "Rename draft in the data to draft-label"
`draft: true` can be used in blog post frontmatter (a Jekyll feature) we also have `draft: true` specified in the data yaml file to indicate a post should have a draft label. To avoid that being confusing I think it would make sense to rename `draft` to `draft-label` in the data for the clearer purposes of providing a draft warning on the page as opposed to make that entry an actual draft.

[2019-02-14 11:59] muffinresearch opened #96 "Draft labelling is wrapping"
Here's a screenshot:

![master_template___extension_workshop](https://user-images.githubusercontent.com/1514/52785453-ec81f400-304f-11e9-82e2-37fcc11435e1.jpg)

A quick fix will be to adjust the draft label styles to make it smaller. Longer term the side-bar width might need to be increased or it might not be a problem if the text is longer and it's not just the draft label that wraps.

[2019-02-14 16:34] #96 closed

[2019-02-14 16:34] #94 closed

[2019-02-14 16:36] #92 closed

[2019-02-18 02:25] moz-hwine opened #100 "Wiki changes"
FYI: The following changes were made to this repository's wiki:

- defacing spam has been removed

- Restricting write access to contributors is strongly encouraged.  Please [make that change](https://github.com/mozilla/extension-workshop/settings)  ([documentation](https://help.github.com/articles/changing-access-permissions-for-wikis/)).

These were made as the result of a recent automated defac

[2019-02-18 13:48] psiinon commented on #31
@bqbn I'd have thought we'd want a report-uri defined in case the CSP breaks something. Tbh thats more of a development concern than a security one.

@hwine how hard a requirement is signing releases on github?

[2019-02-18 22:55] bqbn commented on #31
@psiinon thx for the clarification. I'm OK without report-uri then (from Ops perspective). @muffinresearch let me know if you think we need one from dev perspective.

Nevertheless, it doesn't sound like "report-uri" is a blocking factor for the release, e.g. we can file a bugzilla to add it if we decide to have it in the future. Also our other static site extensionschallenge.com doesn't have it.

[2019-02-18 23:35] hwine commented on #31
@psiinon signing (commit, tag, release) is only a recommended action at this time. There are a number of pitfalls in using signing, and extra tooling needed to support it.

I'm happy to take suggestions on how to better reflect that in the "docs".

[2019-02-20 10:27] championshuttler opened #102 "Missing CoC for extension-workshop"
Missing Code of Conduct on the root of the repo as per instructions here

https://wiki.mozilla.org/index.php?title=GitHub/Repository_Requirements

[2019-02-20 14:23] #102 closed

[2019-02-20 14:25] muffinresearch commented on #100
@moz-hwine thanks Hal. I've removed the wiki feature for now too, since we're not currently using it.

[2019-02-20 14:25] #100 closed

[2019-02-20 14:27] muffinresearch commented on #88
I think there's no further actions needed here, so I'm going to close this out on the basis that the template is just a set of examples, it's not supposed to stand-up as content on its own.

[2019-02-20 14:27] #88 closed

[2019-02-20 21:06] #72 closed

[2019-02-21 10:15] #57 closed

[2019-02-21 15:11] caitmuenster opened #107 "Let's tag our first release!"
@bqbn, I'm not sure how tagged releases work, but I'd love to cut our first tag and deploy to production. Could you advise on next steps?

/cc @mconca & @muffinresearch

[2019-02-21 17:13] muffinresearch commented on #107
Assuming everything looks good on stage...

Based on the conventions we use for libs we'd typically try and match the version of the package.json.  Since that's already 1.0.0 it's possible to make the tag without any other changes from here: https://github.com/mozilla/extension-workshop/releases/new

Tag version can be `1.0.0`
Release title can match the tag `1.0.0`
Description can say anything yo

[2019-02-21 17:18] caitmuenster commented on #107
Thanks @muffinresearch! Do we need to attach any binaries?

[2019-02-21 17:26] muffinresearch commented on #107
No, you can ignore that bit 👍

[2019-02-21 17:30] caitmuenster commented on #107
👍 Ok -- just tagged [release 1.0.0](https://github.com/mozilla/extension-workshop/releases/tag/1.0.0). 🤞🏽

[2019-02-21 17:43] muffinresearch commented on #107
@bqbn, I'm not sure if circle is backed up, but the tag doesn't seem to be getting deployed as yet.

[2019-02-21 18:51] bqbn commented on #107
@caitmuenster @muffinresearch

Per https://github.com/mozilla/extension-workshop/blob/master/.circleci/config.yml#L91, the release tag needs to have a letter `v` prefix.

We can either change that to not require `v`, or always use `v` prefix when we tag. Either way works for me.

[2019-02-21 18:55] caitmuenster commented on #107
Thanks @bqbn! I just updated the release to be `v1.0.0` - is that correct? Do we need to update the other tags to have the `v` prefix as well?

[2019-02-21 19:09] bqbn commented on #107
@caitmuenster actually, I think the problem is different. The regex on https://github.com/mozilla/extension-workshop/blob/master/.circleci/config.yml#L91 matches with or without letter `v`.

Reading the docs again, I see that it says,

So we need add a tag filter for the `build` job, because the `deploy` job depends on it.

I'll file a PR to fix it.

[2019-02-21 19:17] #107 closed

[2019-02-22 10:57] muffinresearch opened #109 "Mozilla logo is hidden"
The Mozilla logo in the footer is not showing up - it's there but hard to see.

Possibly this is an optimization related regression, I'll need to investigate.

[2019-02-22 11:04] muffinresearch opened #110 "There are no focus styles"
Navigating with a keyboard is showing no focus styles. This is a big hit to accessibility.

To fix this we need to re-instate default focus styles, or alternatives which have likely been turned off.

[2019-02-22 11:32] muffinresearch commented on #109
Ah it turns out this is related to CSP not SVG optimizations. There's inline style in the SVG which is being blocked by CSP.

This should be fixable with a one-line CSS change.

[2019-02-25 16:26] #110 closed

[2019-02-25 16:29] #109 closed

[2019-02-25 16:37] championshuttler opened #115 "[Suggestion] Add Read more/Learn More MDN links to API's"
![image](https://user-images.githubusercontent.com/22130317/53352701-4e443700-3949-11e9-988d-ce03b071b5c7.png)

It would be nice to add read more links to `content scripts` ,`bg scripts` and `User interface` which will redirect users to mdn articles. Something like this.

![image](https://user-images.githubusercontent.com/22130317/53352898-af6c0a80-3949-11e9-8344-13d196674710.png)

[2019-02-25 16:47] championshuttler opened #116 "[Bug] Popup should be hide while scrolling in background"
### What happened?
Click on either of `CS Script`, `BG script` or User `interface`  in `Anatomy of an Extension` section. and then scroll in the background without closing the popup. Popup would not disappear.

![image](https://user-images.githubusercontent.com/22130317/53353262-55b81000-394a-11e9-9fcb-c96692dfe837.png)

### What did you expect to happen?
The popup should disappear when we are not

[2019-02-25 18:56] muffinresearch commented on #61
@caitmuenster I think we can just close this out it's just warnings from the tracking protection doing its job - what do you think?

[2019-02-25 18:56] caitmuenster commented on #61
Oh yeah, if it's just tracking protection doing its job we can close this out.

Thanks!

[2019-02-25 18:56] #61 closed

[2019-02-25 18:59] muffinresearch opened #118 "Tests failed but stage was still deployed"
The tests (which is mainly just a very basic prettier check) are failing, but updates to stage went out. I think we're probably missing some config to prevent this case. Ideally a test fail should stop the deploy part from happening.

[2019-02-25 18:59] muffinresearch opened #119 "Configure prettier to stay out of the way more"
The prettier config for markdown could be updated to preserve the wrapping authors are setting rather than jumping in and making everything one line.

[2019-02-25 22:48] caitmuenster commented on #116
I'm not sure I understand this issue. I see that the popup has an X mark that the user must interact with to close the popup, and if they don't, the popup stays open when you scroll around the page. This is expected behavior.

[2019-02-26 07:11] championshuttler commented on #116
Hi @caitmuenster Yes there is X mark to close the popup but it would be nice if it gets auto disappear if we go to another section by scrolling. If its expected behavior then let's close the issue :).

[2019-02-26 14:21] muffinresearch opened #122 "Re-instate the master template content"
I think the master template existed so it provided a selection of content treatments. It was overwritten in https://github.com/mozilla/extension-workshop/pull/113

It would be a good idea to re-instate this content to one side so that it's available for future edits.

[2019-02-26 19:54] caitmuenster commented on #116
Thanks @championshuttler. :)

[2019-02-26 19:54] #116 closed

[2019-02-26 19:57] caitmuenster opened #124 ""Build Extension in 5 Minutes" video links to wrong video on mobile"
On mobile, the video for "Build an Extension in 5 Minutes" links to an outdated video. It should link to [this video](https://www.youtube.com/watch?v=Q3AQ5D2QFwc&feature=youtu.be).

[2019-02-26 20:08] championshuttler commented on #124
Can i work on it @caitmuenster if you are not :)

Thanks

[2019-02-26 20:35] caitmuenster commented on #124
Go for it @championshuttler!

[2019-02-26 20:43] #124 closed

[2019-02-26 23:24] #119 closed

[2019-02-27 10:26] muffinresearch commented on #118
This was invalid after all the logo patch landed before the content-guidelines changes so the deploy didn't happen for the latter since it failed on the build.

[2019-02-27 10:26] #118 closed

[2019-03-25 18:02] muffinresearch commented on #31
@psiinon is there anything else from a security perspective that needs addressing before this issue can be closed out?

[2019-03-26 17:55] #122 closed

[2019-03-26 21:38] caitmuenster opened #131 "Add dev environment"
As part of Phase II (which kicked off today), we'd like to add a dev environment so we can review and QA updates before pushing them to staging and production.

There's no rush but if we could get this set up by April 15, that would be great.

cc: @bqbn, @muffinresearch

[2019-03-26 22:59] bqbn commented on #131
@caitmuenster could you clarify the difference between -dev and -stage environments for this project?

I thought that we set up -stage so that we could review QA updates before they're pushed to -prod. Why in addition to -stage, do we need a -dev environment?

[2019-03-26 23:09] caitmuenster commented on #131
Good question. My understanding is -stage is there to check over before pushing to -prod, and -dev would be to review/evaluate before we even get to -stage.

@lancecummings, am I capturing that correctly? Would love to hear your thoughts.

[2019-03-26 23:56] lancecummings commented on #131
@caitmuenster we could definitely use stage for this. I don't think the dev request came from us originally, but from my memory, there was the suggestion that you might need the stage environment to continue reviewing and publishing content on the existing architecture, while we simultaneously work on testing the new architecture on the dev environment.

[2019-03-27 09:03] ioanarusiczki opened #138 "Register/Login button should change it's state into something else"
Followup for https://github.com/mozilla/addons-server/issues/10909 and https://github.com/mozilla/addons-frontend/issues/7696

1. Load AMO dev or AMO stage and click on Extension Workshop
2. Login using the Register/Login
3. Return to EW page and observe the button's name

Expected result:
The "Register/Login" should be "Dev Hub".

Actual result:
The "Register/Login" is still displayed. It looks l

[2019-03-27 09:31] ioanarusiczki opened #132 "Landing page inconsistencies for Register/Login button"
STR:
1. Load AMO dev or AMO stage and click on EW
2. Login using the first Register/Login button on top right of the page and observe the landing page
3. Login using the Register?login button from the Menu Bar and observe the landing page

Expected result:
Both ways the landing page is  https://addons.mozilla.org/en-US/developers/addons or https://addons.mozilla.org/en-US/developers/

Actual resul

[2019-03-27 11:05] muffinresearch commented on #131
One plus I can see about having a hosted -dev environment it could be used to show pages that aren't published on stage or production. This would make it easier to check content as right now we're reliant on someone who can run the site to take screenshots for anyone who doesn't have the development enviroment running locally.

[2019-03-27 11:12] psiinon commented on #31
@muffinresearch I'm good with closing this out now :)

[2019-03-27 12:05] ioanarusiczki opened #139 "Extension Workshop page will direct the user on AMO prod, it won't show the dev and stage environment"
Followup for https://github.com/mozilla/addons-frontend/issues/7696 and https://github.com/mozilla/addons-server/issues/10909

STR:
1. Load AMO dev https://addons-dev.allizom.org/en-US/firefox/ or AMO stage https://addons.allizom.org/en-US/firefox/
2. Click on Extension Workshop and login from there
3. Observe the page

Expected result:
Dev Hub dev or stage loads such as https://addons-dev.allizom

[2019-03-27 12:28] ioanarusiczki opened #134 "Extension Developer Newsletter sign up is not working from EW"
Followup for https://github.com/mozilla/addons-frontend/issues/7696

STR:
1. Load AMO dev or stage and click on Extension Workshop link
2. Scroll down the page until you see Extensions Developer Newsletter
3. Type in an email address and check the Mozilla terms
4. Click Sign up

Expected result:
User is directed to this page https://www.mozilla.org/en-US/newsletter/

Actual result:
Nothing happens

[2019-03-27 12:59] ioanarusiczki opened #135 "A better UX experience would be if “Jump to” text would be available next to “✓”"
Followup for https://github.com/mozilla/addons-frontend/issues/7696

STR:
1. Load AMO dev on desktop - Win10 and click the Extension Workshop link
2. Observe and click on  “✓”  below "If you can dream it, our open source API and your HTML, CSS, and JavaScript skills can make it happen."

Expected result:
"Jump to" is next to the symbol “✓”.

Actual result:
No text is available next to “✓”.

Notes:

[2019-03-27 13:57] ioanarusiczki opened #137 "After clicking on a video the loading indicator doesn't spin"
Followup https://github.com/mozilla/addons-frontend/issues/7696

STR:
1. Load AMO and click the EW link
2. Go to a video from the page -> Attract Users with Content and Design -> What’s Great Content and Design?
3. Click the video and observe the loading indicator

Expected results:
Until the video loads the indicator is spinning.

Actual result:
The indicator doesn't spin.

Notes:
It is reproduci

[2019-03-27 14:18] muffinresearch commented on #138
@ioanarusiczki this isn't fixable at the moment since the extension workshop has no concept of login state and there are no current plans to add that.

[2019-03-27 14:23] muffinresearch commented on #139
There is no -dev environment currently, so the only fix we could have here is to make the EW stage deployment conditionally update it's links to AMO based on the deployment environment.

[2019-03-27 14:36] ioanarusiczki commented on #137
@willdurand Sorry, I had no idea it's a separate repo for EW. Thanks @muffinresearch for transfering all the filed issues here.

[2019-03-27 15:06] #132 closed

[2019-03-27 15:08] caitmuenster commented on #31
Thanks, @psiinon!

[2019-03-27 15:08] #31 closed

[2019-03-27 16:07] caitmuenster commented on #138
Thanks @muffinresearch! Yeah, the best thing to do here is to update the copy of the button to something like "Manage/Submit Extension."

[2019-03-27 16:28] muffinresearch commented on #137
Possibly caused by CSP since this works locally.

[2019-03-27 17:47] bqbn commented on #131
I'm trying to understand, why can't the changes be pushed to -stage env so that all team members can see? Is it something in the current workflow that prevent us from doing that?

[2019-03-27 18:06] muffinresearch commented on #131
If we do that, stage won't then be representative of what will be released into production. Which is not ideal.

[2019-03-27 21:32] caitmuenster commented on #131
@muffinresearch If we take the content guidelines out of consideration, would you be comfortable with Lance testing new code on -stage? If not, let's set up -dev; I don't think the work we're doing on the content guidelines alone justifies setting up a new environment.

[2019-03-28 07:33] ioanarusiczki commented on #132
@muffinresearch I verified it again but I still see https://addons.mozilla.org/en-US/developers/addons/ for the first button and https://addons.mozilla.org/en-US/developers/ for the other one.

[2019-03-28 07:39] ioanarusiczki commented on #134
@muffinresearch I can still reproduce this issue with FF66(Win10).

[2019-03-28 09:30] ioanarusiczki opened #142 "The Menu Bar won't display the sections on Android devices"
STR:
1. Load AMO and click the Extension Workshop link
2. Click on any of the options from the navigation menu bar, such as "Build extensions" or "Developer News"
3.Observe the screen

Expected result:
The section is displayed.

Actual result:
Section appears for a second than the screen jumps to the header of the page.

Notes:
This issue is reproducible on Huawei Media Pad M5, Huawei mate 10 with

[2019-03-28 09:34] AlexandraMoga opened #143 "[Android] The Jump to menu will not collapse when the device rotates from landscape to portrait mode"
**STR:**

1. Load the extension workshop on a mobile device
2. Tap on the Jump to option - notice the menu collapsing to reveal additional items
3. Rotate your device in landscape mode
4. Rotate the device back in portrait mode
5. Tap again on Jump to...

**Actual result:**
The menu doesn't collapse anymore

**Expected result:**
The Jump to menu is expanded

**Notes:**
- reproduced on Android 8.0

[2019-03-28 09:57] ioanarusiczki opened #144 "Clicking outside the info text boxes or using "Esc" key won't dismiss them"
STR:
1. Load EW page and navigate down to Anatomy of an Extension
2. Click on User Interface, Content Scripts or Background Scripts
3. Try to dismiss the info box clicking outside the box or using "Esc" key

Expected result:
The box is no longer displayed.

Actual result:
The box is available until "x" is clicked.

Notes:
This issue is reproducible on Win10 and Android 8.0

![dismiss](https://user

[2019-03-28 10:08] AlexandraMoga opened #145 "Extension workshop page title overlaps the main header title at smaller screen sizes"
**STR:**

1. Load the extension workshop in responsive design mode
2. Observe the layout of the page header at ~650 - 750 width x 300 height (this is a usual size for a mobile in landscape mode)

**Actual result:**
Extension workshop page title is overlapping the header title ("Make the web do what you want.")

**Expected result:**
There are no layout issues at the specified screen sizes

**Notes:

[2019-03-28 11:02] muffinresearch opened #146 "AMO link button copy changes are causing layout issues"
### Describe the problem and steps to reproduce it:

The copy on the header and navbar call to action buttons is inconsistent.

The first button says `Manage/Submit Extension`, the second says: `Submit/Manage Extension`.

Not only that but the second button's text doesn't fit in the button see this screenshot:

![Extension_Workshop___Firefox_Extension_Workshop__Make_the_web_do_what_you_want__If_yo

[2019-03-28 11:07] muffinresearch commented on #146
For now I've reverted both patches so we can re-think the copy changes in a way that won't break the layout.

[2019-03-28 11:52] #134 closed

[2019-03-28 11:54] muffinresearch opened #151 "Run local dev with content security policy"
Currently the CSP is only added for deploys on hosted environments. It would be better if we could run the local dev server with a CSP as well, this way it will be easier to spot CSP configuration issues.

To do that we need:

- [ ] A way to send headers from the jekyll dev server
- [ ] A way to share the CSP so we don't have to duplicate it.

[2019-03-28 11:55] muffinresearch commented on #146
@caitmuenster This is fixed so I'm going to close this, we can figure out a better fix in #138

[2019-03-28 11:55] #146 closed

[2019-03-28 12:03] muffinresearch commented on #134
@ioanarusiczki CSP has been updated and deployed to stage - it looks to work as it should now.

[2019-03-28 12:10] muffinresearch commented on #138
@caitmuenster the changes had to be reverted as they caused a regression (see #146)

[2019-03-28 12:12] muffinresearch commented on #142
@ioanarusiczki which Firefox version is this, are they the same version for other devices too?

[2019-03-28 12:19] muffinresearch commented on #131
It'll probably depend on whether the new changes will involve unpublished pages whilst they're being worked on. I still need to better understand precisely what is planned.

[2019-03-28 12:26] ioanarusiczki commented on #142
@muffinresearch It's the last release version for all of them FF 66.0.2

[2019-03-28 14:36] ioanarusiczki commented on #134
@muffinresearch I went to AMO stage (Win10, FF66) and clicked on EW from the header of the page. Tried to subscribe again but without any success :(

![nope](https://user-images.githubusercontent.com/33448286/55166238-6d67fb80-5177-11e9-8479-89483e34db08.gif)

[2019-03-28 15:04] #145 closed

[2019-03-28 15:45] muffinresearch commented on #134
@ioanarusiczki you're testing on prod, the fix is only on stage.

[2019-03-28 22:15] caitmuenster commented on #138
I took a closer look at this today, and I don't quite have the skills to fix the layout issues caused by changing the copy on the button. I'd accept contributions to this.

[2019-03-28 22:17] caitmuenster commented on #131
Ok, cool. I'll set up a meeting. :)

[2019-03-29 08:52] ioanarusiczki commented on #139
@muffinresearch Then https://extensionworkshop.allizom.org/ should work with AMO stage. When registering from stage should land on dev hub stage instead of prod too.
Would be ideal for testing.

[2019-03-29 09:40] muffinresearch commented on #139
@ioanarusiczki this bug is about the login, which is hard-coded to prod AMO. To fix getting to prod EW, or stage EW from AMO would require bugs on addons-server and addons-frontend if we don't have them already.

[2019-03-29 10:51] ioanarusiczki commented on #134
@muffinresearch Verified on https://extensionworkshop.allizom.org/ and https://extensionworkshop.com/ with FF66 (Win10 and Android 8.0)
The user is now redirected from the e-mail received to confirm the subscription https://www.mozilla.org/en-US/newsletter/

![newsletter](https://user-images.githubusercontent.com/33448286/55227507-56c9af00-5220-11e9-962d-b640ce56a6fb.gif)

[2019-03-29 13:25] muffinresearch commented on #137
This is a CSP issue, [animate elements in the SVG cause style-src violations](https://bugzilla.mozilla.org/show_bug.cgi?id=1459872). We'll need to workaround this by moving to a CSS-based animation instead.

[2019-03-29 14:33] AlexandraMoga commented on #145
Verified fixed on prod with Android 8.0, FF66.

![image](https://user-images.githubusercontent.com/31961530/55239831-2b56bc80-5240-11e9-9237-566ffc69ff57.png)

[2019-03-30 07:03] Mozilla-GitHub-Standards opened #154 "CODE_OF_CONDUCT.md isn't correct"
**Your required text does not appear to be correct**

As of January 1 2019, Mozilla requires that all GitHub projects include this [CODE_OF_CONDUCT.md](https://github.com/mozilla/repo-templates/blob/master/templates/CODE_OF_CONDUCT.md) file in the project root. The file has two parts:

1. Required Text - All text under the headings *Community Participation Guidelines and How to Report*, are requir

[2019-04-01 08:51] muffinresearch commented on #154
Fixed in https://github.com/mozilla/extension-workshop/commit/30574a75c808231c34f516130c1eb6a307b3c44b

[2019-04-01 08:51] #154 closed

[2019-04-01 17:46] caitmuenster commented on #131
After discussing with @muffinresearch this morning, the conclusion is that yes, we'd like to add the -dev environment. :) We'd like to keep the code being developed for Phase II on -dev until it's ready to go live, at which point it will be moved to -staging and then pushed to -prod. Stuart requests that -staging matches -prod as much as possible.

@bqbn, no rush but if you could set this up somet

[2019-04-02 08:17] ioanarusiczki commented on #139
@muffinresearch I filed these two https://github.com/mozilla/addons-frontend/issues/7812
https://github.com/mozilla/addons-server/issues/11099
Should cover it now.

[2019-04-03 02:04] bqbn commented on #131
We currently push `master` to -stage on every commit. If we're gonna have a -dev environment, how does that change the push logic?

I assume that we'll need to push `master` to -dev on every commit. What about -stage and -prod? What criteria/condition should trigger pushing to those envs respectively?

[2019-04-03 02:14] bqbn commented on #131
What the [firstlook.firefox.com](https://github.com/mozilla/concepts) project did is that they have a `stage` and a `prod` branch and merging to each branch triggers pushing that branch to its respective environment.

Relevant code example: https://github.com/mozilla/concepts/blob/master/.circleci/config.yml#L42-L56

Not sure we want to use that model or not.

[2019-04-03 17:00] muffinresearch commented on #131
@bqbn for simplicity I think commits to master would deploy to both dev and stage but the difference would be that dev would have a different deploy command to enable content that won't be enabled for stage (and prod).

[2019-04-03 22:13] bqbn commented on #131
@muffinresearch thx.

@caitmuenster what should the domain name be for the -dev environment? Does `extensionworkshop-dev.allizom.org` work?

[2019-04-03 22:19] caitmuenster commented on #131
That looks good to me! Thanks @bqbn!

[2019-04-04 00:02] bqbn commented on #131
Filed https://bugzilla.mozilla.org/show_bug.cgi?id=1541663 for the domain name.

[2019-04-04 10:12] muffinresearch opened #155 "Cannot focus on 2nd and 3rd linked content blocks with slick-slide classes."
The site should be keyboard accessible, it's not currently possible to focus beyond the first content link that has in `slick-slide` class-names.

![Extension_Workshop___Firefox_Extension_Workshop__Make_the_web_do_what_you_want__If_you_can_dream_it__our_open_souce_API_and_your_HTML__CSS__and_JavaScript_skills_can_make_it_happen_](https://user-images.githubusercontent.com/1514/55546153-95e77c80-56c

[2019-04-04 10:16] muffinresearch opened #156 "Lists of links should be marked up as <ul>"
The navigation links are just a div full of links. This would be better marked up as a list of links:

![Extension_Workshop___Firefox_Extension_Workshop__Make_the_web_do_what_you_want__If_you_can_dream_it__our_open_souce_API_and_your_HTML__CSS__and_JavaScript_skills_can_make_it_happen_](https://user-images.githubusercontent.com/1514/55548287-0abcb580-56cb-11e9-89e5-2a33a0b63266.jpg)

[2019-04-04 10:21] muffinresearch opened #157 "Document outline misses heading levels"
See https://validator.w3.org/nu/?showoutline=yes&doc=https%3A%2F%2Fextensionworkshop.com%2F

See also https://www.w3.org/wiki/HTML/Usage/Headings/Missing for additional context.

![Showing_results_for_https___extensionworkshop_com__-_Nu_Html_Checker](https://user-images.githubusercontent.com/1514/55548551-9df5eb00-56cb-11e9-8af3-3b69aaffd92a.jpg)

[2019-04-04 10:39] muffinresearch opened #158 "Add unit tests for all JavaScript"
Any JavaScript that is applied to the site should have unit tests.

* If functionality is broken by changes we will catch the regression.
* It is also important to know when a  dependency update breaks existing functionality.

Once we have some tests these can be run by CI on every commit.

[2019-04-04 10:58] muffinresearch opened #159 "Factor out the use of star selectors in the CSS"
There's a lot of cases in the CSS that have selectors like `.some-class > *`, which is like saying "every direct descendant of .some-class".

These should be refactored to be clearer.

Star selectors are hard to understand, so looking at the CSS it's difficult to understand the markup structure that the styles it being applied to. The markup is pretty verbosely decorated with classes so it should

[2019-04-04 10:59] muffinresearch opened #160 "Setup stylelint"
It would be good to setup style-lint to ensure that style is not overly specified as this will help keep things consistent and easy to maintain in the future.

[2019-04-04 11:04] muffinresearch opened #161 "Review the assets directory for JS/CSS that should be consumed as packages"
There's some libs in the assets directory that might be available as deps. If this is the case let's switch them to external dependencies so we can benefit from updates.

For cases where these aren't external dependencies let's file upstream bugs to ask the maintainers to package their code where possible.

[2019-04-22 08:51] ioanarusiczki commented on #155
The same for what's after Latest Developer News - FF66(Win10)

![keyboard navigation](https://user-images.githubusercontent.com/33448286/56492582-e9dec780-64f4-11e9-9ba6-ad4b61a711ba.png)

[2019-04-22 09:15] ioanarusiczki commented on #132
Uhm, the inconsistency was resolved. Verified on EW stage and prod with FF66(Win10).

![perfect landing](https://user-images.githubusercontent.com/33448286/56493626-5b6c4500-64f8-11e9-8287-a83b508d5cde.gif)

[2019-04-22 09:40] ioanarusiczki commented on #124
The video on small screens is https://www.youtube.com/watch?v=Q3AQ5D2QFwc
Verified on EW stage and prod - FF66(Android 8.0)

[2019-04-23 08:33] ioanarusiczki commented on #142
@muffinresearch I must update this issue as I verified on other Android devices, and I see it reproducible on all with FF 66.0.2 release. It looks like it's a general platform issue.

This is a Google Pixel android device

![menu issues](https://user-images.githubusercontent.com/33448286/56566444-53c1a480-65bb-11e9-956c-586a8807d1fd.gif)

[2019-04-26 17:32] bqbn commented on #131
https://extensionworkshop-dev.allizom.org/ is up and running.

[2019-04-26 17:32] #131 closed

[2019-05-06 21:07] aesqe opened #172 ".tiles-container::after has 100vw width, which results in a bottom horizontal scrollbar on the homepage"
### Describe the problem and steps to reproduce it:

Visit the Extension workshop homepage, notice the bottom horizontal scrollbar.

It's visible in FF 66.0.3 and Chrome 73.0.3683.103 on Windows

### What happened?

A horizontal bottom scrollbar is visible.

### What did you expect to happen?

A horizontal bottom scrollbar is not visible.

### Anything else we should know?

I'm not familiar with t

[2019-05-24 15:30] #160 closed

[2019-06-21 00:27] muffinresearch opened #191 "Dev environment is not using the unpublished flag."
The development environment should be showing the unpublished content whereas stage should not. As it stands neither env is showing the unpublished content.

To do that the build needs to be passed an `--unpublished` flag only for the **dev** build.

See https://jekyllrb.com/docs/configuration/options/#build-command-options

[2019-06-21 00:38] muffinresearch opened #192 "Allow for deploying a specific tag to stage without deploying that tag to prod."
In case we need to bugfix when work is in progress, it would be helpful to add the facility for a specific tag to be pushed to stage in-case we need to stage a specific tag ahead of pushing it to production.

[2019-06-25 10:04] championshuttler opened #197 "Wrong link for the telegram and irc channel in connect section"
Telegram channel should be t.me/addonschat and it would also great to connect irc to some webclient for irc with #addons channel For example https://kiwiirc.com/client/irc.mozilla.org:6697/addons

[2019-06-25 17:11] muffinresearch commented on #191
Right now the stage and dev deploys are all being pushed up from the same build, so this needs updating.

[2019-06-26 08:51] muffinresearch commented on #192
Perhaps we can add a `-stage` suffix to a tag which would indicate this should be deployed to stage, at this point we could also stop publishing to stage on commits to master and **only** publish to stage when a tag has a `-stage` suffix.

Naturally a tag with a `-stage` suffix should **not** be published to production.

[2019-06-27 00:18] bqbn commented on #192
I'm OK with this method. One other project (https://github.com/mozilla/concepts) has 3 branches, "master", "stage" and "prod" that track dev, stage and prod respectively.

I think we can try this first and make adjustment if needed.

[2019-06-27 04:12] bqbn commented on #191
Fixed by https://github.com/mozilla/extension-workshop/pull/201.

[2019-06-27 04:12] #191 closed

[2019-06-27 14:25] muffinresearch opened #203 "Search doesn't work due to CSP"
### Describe the problem and steps to reproduce it:

Search is currently failing on -dev due to the CSP

* Click the search box
* Enter a search and submit it.

### What happened?

* No search results are visible
* A message appears in the console: `Content Security Policy: The page’s settings blocked the loading of a resource at https://extensionworkshop-dev.allizom.org/search-results/ (“form-act

[2019-06-27 14:36] #203 closed

[2019-06-27 14:47] muffinresearch opened #205 "Search doesn't work due to XHR being blocked by CSP"
### Describe the problem and steps to reproduce it:

Search is currently failing on -dev due to the CSP blocking the XHR to the pages json results.

* Click the search box
* Enter a search and submit it.

### What happened?

* No search results are visible
* A message appears in the console: `Content Security Policy: The page’s settings blocked the loading of a resource at https://extensionworksho

[2019-06-27 14:52] #205 closed

[2019-07-01 17:21] #192 closed

[2019-07-10 08:51] muffinresearch opened #208 "Search should be built offline"
This was called out in 2 separate code-reviews [1][2] and deferred.

I don't have engineering resources to work on this currently.

But this should be fixed so that the search index isn't built at run time.

- [1] https://github.com/mozilla/extension-workshop/pull/185#pullrequestreview-248374566
- [2] https://github.com/mozilla/extension-workshop/pull/190#pullrequestreview-254073024

[2019-07-11 18:26] muffinresearch opened #209 "Sidebar headings get hidden with a long side-bar upon navigation."
Having navigated to `/documentation/develop/` click on a page low down in the left-hand scroll-bar.

See the following:

<img width="1847" alt="Build_a_secure_extension___Extension_Workshop" src="https://user-images.githubusercontent.com/1514/61074836-85a31400-a410-11e9-8924-f2a373dd50f1.png">

This example is not the worst case - it is possible for the side-bar high-lighted nav to be hidden compl

[2019-07-11 18:44] muffinresearch opened #210 "Set up html-proofer"
One danger with lots of includes is that new page authors might accidentally delete an include removing closing tags from the output. This would probably break the layout, but it would be good to catch this by testing the markup.

https://github.com/gjtorikian/html-proofer should protect against that and it's recommended by Jekyll https://jekyllrb.com/docs/continuous-integration/travis-ci/#the-htm

[2019-07-11 18:46] muffinresearch opened #211 "Test front-matter with a schema"
Consider using this plugin to validate the front-matter meets expectations.

https://github.com/18F/jekyll_frontmatter_tests

[2019-07-11 19:23] caitmuenster commented on #210
Thanks @muffinresearch. This is not a blocker to release but I would love to put some guardrails in against potential breakage.

[2019-07-11 19:25] caitmuenster commented on #211
It would be great to add this guardrail in. Marking as a p2 to reflect that this doesn't block release.

[2019-07-11 19:28] muffinresearch opened #212 "De-dupe similar blocks of code in templates:"
See the following pages:

- https://github.com/mozilla/extension-workshop/blob/aee20c6815793c744c1aac371c5689d6e39ad2af/_includes/up-next.html
- https://github.com/mozilla/extension-workshop/blob/aee20c6815793c744c1aac371c5689d6e39ad2af/_includes/nav.html

There's lots of similar code that could be compacted further to save on repetition.

[2019-07-11 19:33] caitmuenster commented on #209
It looks like we won't have the resources to address this within our current contract, so in lieu of an engineering solution I am ok'ing addressing this via content setup in the markdown files.

To give an indication of the sub-topic, we can show topic + sub-topic in the in the markdown file in the `topic` and `h1` fields.

Example:

Topic: Develop > User Experience
h1: Build a secure extension

[2019-07-12 13:55] #209 closed

[2019-07-23 16:55] andrewtruongmoz opened #217 "Code does not wrap and breaks sidenav"
### Describe the problem and steps to reproduce it:

When attempting to display a large amount of code in one line, the text does not wrap.

Example: the bad code example located at https://developer.mozilla.org/en-US/docs/Mozilla/Add-ons/Source_Code_Submission#Use_of_obfuscated_code

### What happened?

Code example stretched along the page and subsequently broke the sidenav.

### What did you ex

[2019-07-24 18:42] lancecummings commented on #217
Fix provided in pull request #218

[2019-07-25 09:17] AlexandraMoga opened #219 "Scrolling issue in the 'Documentation' pages when using the left side panel navigation to reach the first listed topic"
### Describe the problem and steps to reproduce it:

1. Go to https://extensionworkshop-dev.allizom.org/documentation/develop/
2. Click on User Experience in the navigation menu from the left side panel
3. Click on Firefox Tools to return to the first topic

### What happened?
The page doesn't scroll up fully and the "Firefox Tools" title is overlapped by the header menu

### What did you expect t

[2019-07-25 10:05] acornestean opened #220 "“Overview” string flickers/is displayed with delay when tab switching"
### Describe the problem and steps to reproduce it:
Repeatedly switching between the “Extensions Basics” and “Community” tabs will cause the “Overview” string from “Extensions Basics Overview” and “Community Overview” fields on the left side panel to flicker/be displayed with a short delay.

Steps to reproduce:
1. Load EW page
2. Repeatedly switch between the “Extensions Basics” and the “Community

[2019-07-25 11:18] acornestean opened #221 "Cards and links remain highlighted/underlinded"
### Describe the problem and steps to reproduce it:
Cards and links from the EW page remain highlighted/underlined after clicking on them. Clicking outside them will clear the highlights.

Steps to reproduce:
1. Load the EW page
2. Click on several cards and links from the EW page
3. As most links and cards redirect the user to another page, return to the EW page
4. Notice that the previously clic

[2019-07-25 11:33] AlexandraMoga opened #222 "The search field should have a click-able option that triggers a search request"
### Describe the problem and steps to reproduce it:
1. Open the Extension Workshop - https://extensionworkshop-dev.allizom.org/
2. Enter a search term in either of the available search fields
3. Look for a click-able option that should trigger the search request

### What happened?
The search field doesn't have a click-able option that triggers a search request. The only immediate option is to hit

[2019-07-25 11:38] acornestean opened #223 "“Visit add-ons blog” is not linked"
### Describe the problem and steps to reproduce it:
“Visit add-ons blog” at the bottom of the EW page is not linked.

Steps to reproduce:
1. Load the EW page
2. Navigate to the bottom of the page until reaching the “Visit add-ons blog” text
3. Attempt to click on it
4. Notice that “Visit add-ons blog” is not linked

### What happened?
“Visit add-ons blog” is not linked.

### What did you expect to

[2019-07-25 12:23] AlexandraMoga opened #224 "The last main menu entries can't be accessed on Android in landscape mode"
### Describe the problem and steps to reproduce it:

1. Open the extension workshop on an Android device - https://extensionworkshop-dev.allizom.org/
2. Tap on the hamburger menu to see all the available options
3. Try scrolling down to access the last menu items

### What happened?
There is no scrolling option in the menu which makes it impossible to access the last items when the device is in la

[2019-07-25 13:23] AlexandraMoga opened #225 "[Android] The play button needs to be tapped twice to start a video"
### Describe the problem and steps to reproduce it:

1. Load the extension workshop on a mobile device
2. Search for a page that contains a video - see https://extensionworkshop-dev.allizom.org/documentation/manage/
3. Tap on the play button o start the video

### What happened?
The video doesn't render unless you also tap on the youtube play button

### What did you expect to happen?
The video st

[2019-07-25 13:39] acornestean opened #226 "Search terms remain in the search box upon cancelling the process"
### Describe the problem and steps to reproduce it:
Search terms remain in the search box upon cancelling the search process (by means of the X button at the end of the field) and clicking on the Magnifying Glass button once more.

Steps to reproduce:
1. Load the EW page
2. At the top of the page, click on the Magnifying Glass icon (a search box will be displayed)
3. Enter any term in the search b

[2019-07-25 14:00] AlexandraMoga opened #227 "The email address field is not reset at page refresh after successfully confirming a newsletter subscription"
### Describe the problem and steps to reproduce it:
1. Open the extension workshop - https://extensionworkshop-dev.allizom.org/
2. Scroll down to the buttom of the page and insert an email address in the newsletter subscription field
3. Click on Sign up
4. After the confirmation message is received, refresh the page

### What happened?
The address provided at Step 2 is still visible in the email f

[2019-07-25 14:19] muffinresearch commented on #227
I think that's autocomplete behaviour we'd need to set `autocomplete="off"` to stop it - see https://www.w3.org/Submission/web-forms2/#the-autocomplete

[2019-07-25 14:22] muffinresearch commented on #221
That's expected as this is a focus style too. Clicking a link focuses it. It's still focused when coming back to the page.

[2019-07-25 15:04] caitmuenster commented on #219
@lancecummings, could you look into this?

[2019-07-25 15:05] caitmuenster commented on #222
@lancecummings, could you look into this?

[2019-07-25 15:05] mirunacurtean opened #228 "Email address field and Privacy Notice checkbox remain highlighted even after page refresh"
### Describe the problem and steps to reproduce it:
The Email field and Privacy Notice checkbox remain highlighted after refreshing the page if you follow certain steps.

1. Open the extension workshop - https://extensionworkshop-dev.allizom.org/
2. Scroll down to the bottom of the page and check, un-check and then click outside the Privacy notice box. It will remain highlighted in red.
3. Insert

[2019-07-25 15:05] caitmuenster commented on #224
@lancecummings, could you look into this?

[2019-07-25 15:11] caitmuenster commented on #212
@muffinresearch, was this addressed?

[2019-07-25 15:12] #221 closed

[2019-07-25 15:13] caitmuenster commented on #226
@muffinresearch / @lancecummings, is this expected behavior?

[2019-07-25 15:30] muffinresearch commented on #226
I don't think it's a huge problem. The cross is closing the search box, not clearing the content of the field. It could do both though.

[2019-07-25 15:31] muffinresearch commented on #227
I'm not sure this needs to be a p2, it could be argued it's not even a bug.

[2019-07-25 15:35] caitmuenster commented on #227
Thanks @muffinresearch -- I might have been too hasty hitting that button. :) Removed the label for now.

[2019-07-25 15:38] muffinresearch commented on #223
To fix this `pointer-events: none` is needed on `.bottom-of-page`.

[2019-07-25 15:55] caitmuenster commented on #226
Agreed; I think this is a nice-to-have but not a huge priority.

[2019-07-25 15:57] muffinresearch commented on #225
I think the issue here is that because of the focus styles touch screens update the focus style on tap rather than register a click.

To fix that it should be possible to use `focus-visible` and a polyfill to enable focus styles only for keyboard focus.

See https://developer.mozilla.org/en-US/docs/Web/CSS/:focus-visible for more info.

[2019-07-25 16:08] muffinresearch commented on #222
Presumably this should be an explicit submit button outside the search field?

[2019-07-25 16:17] muffinresearch commented on #212
@caitmuenster No, not yet.

[2019-07-25 16:20] muffinresearch commented on #172
@AlexandraMoga would it be possible re-validate if this is an issue with the newer design?

[2019-07-25 16:22] muffinresearch commented on #227
@caitmuenster I think this is either p4 or wontfix what do you think? Bug or feature?

[2019-07-25 16:30] muffinresearch commented on #135
There is no jump menu in the new design.

[2019-07-25 16:30] #135 closed

[2019-07-25 16:32] muffinresearch commented on #138
This is now Submit or Manage so I think we can close this out.

[2019-07-25 16:32] #138 closed

[2019-07-25 16:35] muffinresearch commented on #155
This is still an issue for the new design.

[2019-07-25 17:44] caitmuenster commented on #227
Not sure if this is a wontfix, so I am going to mark as a p4 for the moment pending investigation.

[2019-07-25 19:56] jpfaller opened #229 "Add links to Extension Basics Screen"
On https://extensionworkshop-dev.allizom.org/extension-basics/, under Getting started, let's add links to the bullets in order to allow users to access deeper pages.

Tools and processes for developing and testing - LINK TO DEVELOP
How to publish your extension on addons.mozilla.org or distribute it yourself. - LINK TO PUBLISH
How to manage your published extension - LINK TO MANAGE
An enterprise g

[2019-07-25 19:59] jpfaller opened #230 "Spelling Error on Develop Page"
"consents" should be "consent"

under Make a great first impression

If your extension collects user data during onboarding, make sure you follow the best practices for collecting user data _**consents**_. And, it’s important that you request the right permissions.

[2019-07-25 20:01] jpfaller opened #231 "Order of sections on Manage Page"
Can we move the whole "Promote Your Extension" section further down the page, so it is in between "Manage authors..." and "Removing your extension" sections.

[2019-07-25 20:02] jpfaller opened #232 "Section Title on Enterprise page"
The first H2 says "Section Title" is this component required, or can we remove it and just start with body copy.

[2019-07-25 20:04] jpfaller opened #233 "Section Titles on Themes pages"
On the Themes page, What themes are and Creating themes are not in the content matrix. Are these required elements?

If not, can we kill "What themes are" and replace "Creating themes" with

How to create themes

[2019-07-25 20:05] jpfaller opened #234 "URL target appearing on Community page"
Appears to be an error with link formatting with "Stack Overflow"

<img width="797" alt="Screen Shot 2019-07-25 at 3 05 17 PM" src="https://user-images.githubusercontent.com/50755458/61905018-acbc1400-aeed-11e9-9400-eb27e0f4aee8.png">

[2019-07-25 20:20] #234 closed

[2019-07-25 20:25] muffinresearch commented on #233
@jpfaller thanks very much for the bug reports.

If you could provide links to the relevant pages on -dev (https://extensionworkshop-dev.allizom.org/) that will help us pin down precisely what content needs to be updated.

[2019-07-25 23:31] andrewtruongmoz commented on #217
As mentioned on Slack, with this fix, when text is wrapped, the position of the line number is shifted to the left when compared to a smaller code example where the text isn't wrapped.

<img width="936" alt="Screen Shot 2019-07-25 at 4 23 19 PM" src="https://user-images.githubusercontent.com/28877053/61915476-71274700-aef9-11e9-870d-9bf3ef40bad4.png">

[2019-07-26 07:07] AlexandraMoga commented on #229
On the same page, should't the options under Mozilla Developer Network also be linked ?

[2019-07-26 08:20] #217 closed

[2019-07-26 08:26] AlexandraMoga opened #237 ""Get involved in the community" section contains links to restricted documents"
**Prerequisites** - before you follow the below steps, make sure that you are not logged into your mozilla account

### Describe the problem and steps to reproduce it:

1. Access https://extensionworkshop-dev.allizom.org/community/#get-involved-in-the-community
2. Click on the [visit the Contribute page](https://docs.google.com/document/d/1_fRGPgjNF3jX-xEROosUx0jmu6PwCY4UNC42EOoHfKQ/edit) link

##

[2019-07-26 08:44] AlexandraMoga opened #238 "Users should also have the option to collapse an expanded section from the side panel"
### Describe the problem and steps to reproduce it:

1. Open https://extensionworkshop-dev.allizom.org/documentation/develop/
2. Click on [Browser Extension Development Tools](https://extensionworkshop-dev.allizom.org/documentation/develop/browser-extension-development-tools/)
3. Observe that the section expands
4. Click again on the parent folder

### What happened?
The section remains expanded

[2019-07-26 09:14] AlexandraMoga opened #239 "Items in a list should have the same format"
### Describe the problem and steps to reproduce it:
1. Open https://extensionworkshop-dev.allizom.org/documentation/develop/extensions-and-the-add-on-id/#when-do-you-need-an-add-on-id
2. Observe the `Native-messaging` item

### What happened?
The `Native-messaging` item doesn't have the same format as the rest of the items from the list
### What did you expect to happen?
All list items should have

[2019-07-26 10:04] muffinresearch commented on #239
This is expected, the difference in the format is related to code being marked with backticks and non-code not having that formatting.

[2019-07-26 10:04] #239 closed

[2019-07-26 10:05] muffinresearch opened #240 "Backticks misplaced results in unlinked text"
See https://extensionworkshop-dev.allizom.org/documentation/develop/extensions-and-the-add-on-id/#when-do-you-need-an-add-on-id

Backticks are wrapping the link causing the title not to be linked up.

<img width="1349" alt="Extensions_and_the_Add-on_ID___Extension_Workshop" src="https://user-images.githubusercontent.com/1514/61944271-3a067380-af95-11e9-9a01-39b398497808.png">

To fix this the back

[2019-07-26 10:21] muffinresearch opened #241 "Links should be references in markdown"
Rather than duplicate the same link many times in markdown, it would be much better to use a reference.

Here's an example:

Instead of

## Original markdown

[code]

We should use:

## Reference markdown

[code]

Both render the same thing, but the reference solution makes updating that link much easier since there's only one!

## Original
* Something something [a link](https://mozilla.org/)
* So

[2019-07-26 10:47] #240 closed

[2019-07-26 11:22] acornestean opened #243 "Scrolling in the left side panel causes content to scroll in the main page"
### Describe the problem and steps to reproduce it:
Scrolling in the left side panel of any of the “Documentation Topics” sections, “Extensions Basics” and “Community” tabs will cause the main page content to also scroll when reaching the ends in the side panel. Attempting to scroll the content in the main page will not scroll the side panel.

Steps to reproduce:
1. Load the EW page
2. Click on an

[2019-07-26 11:59] mirunacurtean opened #244 "Search result directing to homepage does not have a title"
### Describe the problem and steps to reproduce it:

1. Open the Extension Workshop website: https://extensionworkshop-dev.allizom.org/.
2. Click the “Search” button from the right side of the page.
3. Write "extension” in the search field and press Enter.
4. Scroll through the search results.

### What happened?
A search result appears without a title.

### What did you expect to happen?
All sear

[2019-07-26 12:21] AlexandraMoga opened #245 "[Tracking issue] The extension workshop contains many links that are 404 -ing"
### Note
This issue has been edited to reflect the updated Information Architecture (IA) of the site.

### Describe the problem and steps to reproduce it:

Open the following resources:

I. [**Homepage**](https://extensionworkshop-dev.allizom.org/)
Under "Ready to build an extension for Firefox?"
![image](https://user-images.githubusercontent.com/31961530/61933594-ec870800-af8e-11e9-8fd8-8564169af

[2019-07-26 12:32] AlexandraMoga opened #246 "Links in the Community section are opening firefox.com instead of their corresponding resource"
### Describe the problem and steps to reproduce it:

1. Open https://extensionworkshop-dev.allizom.org/community/
2. Click on the following links:

**About the Community** section in the left side panel

- [x] Discourse Forum
- [x] Add-ons Blog
- [x]  Stack Overflow
- [x]  Communication Calendar
- [x]  Dev Mailing List

**Start Contributing**  section in the left side panel

- [x]  Find or create

[2019-07-26 13:13] mirunacurtean opened #247 "Text doesn’t disappear from search field after refresh"
### Describe the problem and steps to reproduce it:

1. Open the Extension Workshop website: https://extensionworkshop-dev.allizom.org/.
2. Write anything in either one of the search fields (page header or under hero space)
3. Refresh page.
4. Observe the homepage search field.

### What happened?
The search field text search has not been reset after refresh.

### What did you expect to happen?
Th

[2019-07-26 13:32] mirunacurtean opened #248 "Exact match of searched word placed lower than other results"
### Describe the problem and steps to reproduce it:

1. Open the Extension Workshop website: https://extensionworkshop-dev.allizom.org/.
2. Click the “Search” button from the right side of the page.
3. Write “develop” in the search field and press Enter.
4. Observe the search results.

### What happened?
The exact match of the search is placed lower than other results.

### What did you expect to

[2019-07-26 13:34] vcarciu opened #249 "Sub-string search not supported"
### Describe the problem and steps to reproduce it:

1.Open https://extensionworkshop-dev.allizom.org/
2.In searchbox , enter a substring like "communit"

Expected result:
We should display results for substrings

Actual results:
0 results , even if we have many results if we search for "community"

[2019-07-26 13:41] mirunacurtean opened #250 "Search result doesn't wrap long unbroken string of characters"
### Describe the problem and steps to reproduce it:

1. Open the Extension Workshop website: https://extensionworkshop-dev.allizom.org/.
2. In either of the search fields on the homepage, write a long unbroken string of characters and press Enter.
3. Observe the search results.

### What happened?
The search result page doesn’t wrap the long unbroken string and the page is stretched to git the tex

[2019-07-26 13:50] mirunacurtean opened #251 "Page header Search field is not dismissed after pressing ESC key"
### Describe the problem and steps to reproduce it:

1. Open the Extension Workshop website: https://extensionworkshop-dev.allizom.org/.
2. Click the “Search” key from the right side of the page and the search bar will show.
3. Press the ESC key.

### What happened?
The search field is not dismissed.

### What did you expect to happen?
The search field is not dismissed.

### Anything else we shoul

[2019-07-26 14:07] mirunacurtean opened #252 "Blank search should either not be possible or all documentation should be listed as result"
### Describe the problem and steps to reproduce it:

1. Open the Extension Workshop website: https://extensionworkshop-dev.allizom.org/.
2. Click on either of the search fields available and press ENTER
3. Observe the result.

### What happened?
"0 results for '' " message is received.

### What did you expect to happen?
In this case there are two options which could be implemented:
1. Search resu

[2019-07-26 14:07] AlexandraMoga opened #253 "All menu items have an empty "Overview"on Android"
### Describe the problem and steps to reproduce it:
1. Open the extension workshop on an Android device - https://extensionworkshop-dev.allizom.org/
2. Click on the hamburger menu
3. Select "Manage" from the available options
4. Click on the down arrow to expand the "Manage" menu
5. Observe the contents available in the Overview section

### What happened?
The Overview is empty

### What did you e

[2019-07-26 14:14] caitmuenster commented on #237
Thanks @AlexandraMoga! Those Google doc pages contain the content to be transferred onto the site -- we'll need to build these pages out and change the link before this goes live.

[2019-07-26 14:14] mirunacurtean opened #254 "No message is received when performing a search using special characters"
### Describe the problem and steps to reproduce it:

1. Open the Extension Workshop website: https://extensionworkshop-dev.allizom.org/.
2. Click on either of the search fields available and type in special characters ^*%(*&)*)
3. Observe the result.

### What happened?
Search is performed but no message indicating that there are no search results is displayed.

### What did you expect to happen?

[2019-07-26 14:16] caitmuenster commented on #229
Yes, we should also link out to `https://developer.mozilla.org/docs/Mozilla/Add-ons/WebExtensions`.

[2019-07-26 14:21] caitmuenster commented on #253
@atruong, do you know if this section has been checked in yet?

[2019-07-26 14:27] caitmuenster commented on #244
Oh, that's weird. I wonder if there's a lightweight way of assigning a title to the homepage.

[2019-07-26 14:30] caitmuenster commented on #243
This is intended behavior. :)

[2019-07-26 14:30] #243 closed

[2019-07-26 14:36] caitmuenster commented on #250
@lancecummings, if there's enough time could you look into this?

[2019-07-26 14:37] caitmuenster commented on #249
@lancecummings, if there's enough time could you look into this?

[2019-07-26 14:38] caitmuenster commented on #248
@lancecummings, if there's enough time could you look into this?

[2019-07-26 14:53] caitmuenster commented on #254
This would be a nice-to-have; marking it as a p4.

[2019-07-26 14:55] caitmuenster commented on #249
Actually -- @lancecummings, could you prioritize this?

[2019-07-26 15:04] caitmuenster commented on #251
@mirunacurtean, do you know if this is an accessibility issue? If it is I am going to make this a high priority.

[2019-07-26 16:29] andrewtruongmoz commented on #253
Content needs to be transferred over for those sections; they're currently are unassigned.

(fyi, the wrong person was tagged)

[2019-07-26 16:48] caitmuenster commented on #253
Thanks! :) Ok, it sounds like this should be taken care of once the content gets built out.

[2019-07-26 18:20] #223 closed

[2019-07-27 17:06] championshuttler commented on #229
cc @ruchikabgosain

[2019-07-27 17:52] ruchikabgosain commented on #229
Thankyou @championshuttler, working on this!

[2019-07-28 07:00] championshuttler commented on #230
cc @snowmanstark

[2019-07-28 07:01] snowmanstark commented on #230
Can I take this issue?

[2019-07-29 06:49] AlexandraMoga commented on #223
Verified fixed:

![2019-07-29_09-46-25](https://user-images.githubusercontent.com/31961530/62027247-dfb02180-b1e5-11e9-849a-e2552dde7a85.gif)

[2019-07-29 08:03] mirunacurtean commented on #251
@caitmuenster Hello. Indeed, I'd include this an an accessibility issue, as it is one of it's requirements, for website functionality to be available from a keyboard.

[2019-07-29 11:20] ioanarusiczki commented on #155
@muffinresearch Yes, I can confirm that with FF68 (Win10).

[2019-07-29 14:42] jpfaller commented on #233
@muffinresearch Yep! Sorry, this content appears on https://extensionworkshop-dev.allizom.org/documentation/themes/

[2019-07-29 14:44] jpfaller commented on #231
This appears on https://extensionworkshop-dev.allizom.org/documentation/manage/

[2019-07-29 14:44] jpfaller commented on #232
https://extensionworkshop-dev.allizom.org/documentation/enterprise/

[2019-07-29 15:10] #229 closed

[2019-07-29 17:06] lancecummings commented on #248
@caitmuenster this could be because currently we've got a boost level of 2 on pages that have a tag that matches a search term, and a boost level of 1 (lower boost) on page titles that match a search term. Would you like those boost settings adjusted?

[2019-07-29 17:22] caitmuenster commented on #248
@lancecummings yes, that would be great!

[2019-07-29 19:33] #230 closed

[2019-07-29 21:11] caitmuenster commented on #249
Closed with #263.

[2019-07-29 22:11] #251 closed

[2019-07-29 22:19] caitmuenster commented on #224
Note for QA: I accidentally merged this before reviewing; verification needed.

[2019-07-29 22:27] #248 closed

[2019-07-30 08:47] mirunacurtean commented on #251
Confirmed fix on both WIn-64 bit also on Ubuntu 18.04.2 LTS 64-bit.
Managed to close the page header search bar using the **ESC** key when empty or when text has been inserted.
![search bar closed using ESC key](https://user-images.githubusercontent.com/53306802/62114557-903e2400-b2bf-11e9-934e-70365635f98e.gif)

[2019-07-30 08:58] mirunacurtean opened #266 "Unable to find results using some of the documentation topic titles"
### Describe the problem and steps to reproduce it:

1. Open the Extension Workshop website: https://extensionworkshop-dev.allizom.org/.
2. In either of the homepage search bars enter one of the following documentation topics titles : "Manage", "Enterprise", "Themes".
3. View the search results.

### What happened?
0 search results are found using the specified documentation topic titles.
Also try

[2019-07-30 09:17] mirunacurtean commented on #248
Testing this fully is **Blocked** by issue https://github.com/mozilla/extension-workshop/issues/266.
More precisely, for the "develop" and "publish" scenarios it could be verified that the exact match of the search word is displayed first, but it could not be confirmed for the other documentation title topics due to receiving 0 results when performing those searches.
Also,on a separate note, when

[2019-07-30 13:19] AlexandraMoga opened #267 "Documentation Topics dropdown menu is not closed when user navigates away from the homepage"
### Describe the problem and steps to reproduce it:

1. Open the extension workshop homepage - https://extensionworkshop-dev.allizom.org/
2. Hover over Documentation Topics and choose any item from the menu to access another page
3. Navigate back to the homepage

### What happened?
The Documentation menu is still open

### What did you expect to happen?
The Documentation menu closes when the user

[2019-07-30 13:32] AlexandraMoga commented on #224
@caitmuenster this issue seems fixed:

![2019-07-30_16-30-21](https://user-images.githubusercontent.com/31961530/62133410-63056c00-b2e7-11e9-93cf-31137ff8beeb.gif)

[2019-07-30 14:52] caitmuenster commented on #224
Yay, thank you @AlexandraMoga!

[2019-07-30 14:52] #224 closed

[2019-07-30 16:11] vcarciu commented on #249
Substring search still not working as expected :
![substring](https://user-images.githubusercontent.com/1583842/62146316-cdc1a200-b2fd-11e9-8eb3-56544f17ca46.png)

[2019-07-30 21:35] caitmuenster opened #268 ""Learn fundamentals on MDN" link goes to wrong URL"
The link on the homepage for "Learn fundamentals on MDN" currently goes to https://developer.mozilla.org/docs/Mozilla/Add-ons/WebExtensions/manifest.json.

It should go to https://developer.mozilla.org/docs/Mozilla/Add-ons/WebExtensions/What_are_WebExtensions.

[2019-07-30 21:37] caitmuenster opened #269 ""Connect with other extension developers" link is wrong"
On the homepage, the link in the "Connect with other extension developers" goes to https://wiki.mozilla.org/WebExtensions/policy.

It should go to https://mail.mozilla.org/listinfo/dev-addons.

[2019-08-01 03:31] rbrishabh commented on #269
Hey @caitmuenster ! I would love to take this up! :)

[2019-08-01 12:49] Patil2099 commented on #268
Can I work on this ?

[2019-08-01 12:56] Patil2099 commented on #246
Can I work on this ?

[2019-08-01 16:16] caitmuenster commented on #269
Go for it @rbrishabh!

[2019-08-01 16:17] caitmuenster commented on #268
Sure thing @Patil2099!

[2019-08-01 16:55] #268 closed

[2019-08-01 18:47] #269 closed

[2019-08-02 16:29] Patil2099 opened #274 "Telegram link not working(Connect With Us Section)"
### Describe the problem and steps to reproduce it:

![bugmozilla](https://user-images.githubusercontent.com/35653876/62384509-39ab4100-b570-11e9-9112-0721744d3125.jpg)

### What happened?
The link for the telegram group points to telegram.org

### What did you expect to happen?
It should point to the actual link for joining the telegram group

[2019-08-03 17:18] championshuttler commented on #274
Duplicate of #197. Should be closed :)

[2019-08-03 17:40] #274 closed

[2019-08-08 16:25] caitmuenster opened #284 "Update links on landing page"
In the section "Ready to build an extension for Firefox" on the landing page, links to the documentation topics need to be changed.

![Screen Shot 2019-08-08 at 9 19 57 AM](https://user-images.githubusercontent.com/23342476/62719891-c9604d80-b9bd-11e9-84b3-b5804387957c.png)

Learn --> link to Extension Basics (/extension-basics/)
Develop --> link to Develop Overview (/documentation/develop/)
Test

[2019-08-13 20:00] championshuttler commented on #284
cc @megha-kumarii, Here you go!

[2019-08-16 17:45] muffinresearch commented on #249
Ultimately Lunr has limited support for this. As was found with the patch in #263 it doesn't really work that well, it's really adding a wildcard to the entire query, this also turns off stemming.

As mentioned in https://github.com/mozilla/extension-workshop/pull/291#issue-308134374 if this is really a problem, then we might want to consider using a more fancy search engine or handing off to a 3r

[2019-08-16 17:49] muffinresearch commented on #219
Looks like this was fixed in #260

[2019-08-16 17:49] #219 closed

[2019-08-16 17:55] muffinresearch commented on #137
You can now see the video in https://extensionworkshop-dev.allizom.org/documentation/publish/

[2019-08-16 19:31] muffinresearch commented on #144
Fixed in #262

[2019-08-16 19:31] #144 closed

[2019-08-19 11:21] AlexandraMoga commented on #219
Verified fixed:

![2019-08-19_14-13-41](https://user-images.githubusercontent.com/31961530/63261244-ab330100-c28b-11e9-8810-9b01d0307632.gif)

[2019-08-19 14:21] ioanarusiczki commented on #144
@muffinresearch This is fixed on EW dev. - FF68(Win10)
On EW stage it is still reproducible.

![fixedondev](https://user-images.githubusercontent.com/33448286/63272984-c0b52480-c2a5-11e9-8e6e-5a5494bb5d23.gif)

[2019-08-19 14:34] muffinresearch commented on #144
Yep, that's fine - stage is not push to automatically.

[2019-08-19 15:42] #284 closed

[2019-08-19 18:18] caitmuenster opened #300 "Local builds are really slow"
From @muffinresearch at https://github.com/mozilla/extension-workshop/pull/297#issuecomment-522676472:

[2019-08-19 19:13] #197 closed

[2019-08-20 06:26] mahimas28 commented on #246
Hey, I would like to take this up as my first bug.

[2019-08-20 06:48] mahimas28 commented on #245
Hey can i take up this bug?

[2019-08-20 10:11] muffinresearch commented on #300
I'll run a profile and see what happens.

[2019-08-20 10:18] muffinresearch commented on #300
Running profiling locally, a code cache (after running `yarn clean`) it all seems to complete in under 45 secs.

So I don't think there's a problem, either that or a problem that was there has gone away.

Profile looks like this:

[code]

You can run it yourself with:

`yarn clean && JEKYLL_ENV=production SVGO_BIN='node_modules/svgo/bin/svgo' jekyll build --profile`

I'd also be interested in what

[2019-08-20 13:25] muffinresearch commented on #300
Looking at this there's a lot of these includes that rely on page context, so fixing this would require a fair bit of refactoring.

A quick test with include caching ignoring the potential breakage didn't show much of an improvement. Still showing north of 420s.

Going back to running master and focusing on the local dev issue:

* A cold cache `yarn clean && yarn start` takes:  457.706 seconds
* A

[2019-08-20 15:21] caitmuenster commented on #246
@mahimas28 Sure! There are currently two links that need updating:

[ ] "Triaged" should link to https://mzl.la/33OoJ0b
[ ] "Untriaged" should link to https://mzl.la/2TLQ4vy

[2019-08-20 16:25] caitmuenster commented on #245
Hey @mahimas28, we're still working on building out site pages so this probably isn't a good bug to work on. We'll probably have more issues coming in that require links to be updated, though, if you want to keep an eye on this repo!

[2019-08-21 21:55] #254 closed

[2019-08-21 22:06] #300 closed

[2019-08-21 22:16] #137 closed

[2019-08-21 22:26] #250 closed

[2019-08-21 22:36] #252 closed

[2019-08-22 07:11] mirunacurtean commented on #250
Confirmed fix on Windows 10 64-bit, Android 8.0.0 and also on MacOS High Sierra 10.13.6 on Dev environment.
Typing or copying a long unbroken string into any of the search bars in order to perform a search, will show a wrapped search result.
![long unbroken string wrapped](https://user-images.githubusercontent.com/53306802/63493800-0dc31180-c4c5-11e9-9556-1326526a13d8.gif)

[2019-08-22 07:23] mirunacurtean commented on #254
Confirmed fix on Windows 10 64-bit, Android 8.0.0 and also on MacOS High Sierra 10.13.6 on Dev environment.
A "0 search results for [string]" message is displayed, as expected.
![Special character search](https://user-images.githubusercontent.com/53306802/63494632-ca69a280-c4c6-11e9-8016-cc2f584f58aa.gif)

[2019-08-22 08:00] mirunacurtean commented on #252
Tested successfully on Windows 10 64-bit and  MacOS High Sierra 10.13.6 on Dev environment.
**On Android, however,  the "Please fill out field" tip does not appear when tapping on the Search button.**
It will only show after scrolling. Also, the message will briefly appear after when accessing the homepage header search bar.

![Android-pleasefilloutfield](https://user-images.githubusercontent.com/

[2019-08-22 08:19] mirunacurtean opened #305 "[Android] "Please fill out field" tip appears only after scrolling"
### Describe the problem and steps to reproduce it:

1. Open the Extension Workshop website: https://extensionworkshop-dev.allizom.org/.
2. Click on either of the search fields available and press ENTER
3. Observe the result.

### What happened?
No search is performed and no help message is shown.
After scrolling through the page the "Please fill out field" tip appears.

### What did you expect to

[2019-08-22 09:00] ioanarusiczki commented on #137
@muffinresearch
This is verified on EW dev with FF68(Win10).

![spinner](https://user-images.githubusercontent.com/33448286/63498526-c17ccf00-c4ce-11e9-952c-4d8e7fd618da.gif)

I don't know if that's something expected or could be fixed from our side but I've noticed that on mobile platforms the video won't automatically start ( that's the desktop behavior). On mobile (Android or iOS) there's the P

[2019-08-22 09:57] muffinresearch commented on #266
Fixed via #292

[2019-08-22 09:57] #266 closed

[2019-08-22 12:37] muffinresearch commented on #305
This is a Firefox feature as it comes from HTML5 validation, so it's probably going to be triggered onblur. I'm not sure if there's anything we can do to improve this.

[2019-08-22 22:09] caitmuenster opened #309 "Update links on Develop Overview Page"
Now that we have more pages built out, it's time to update links on the Develop Overview page!

### Firefox Tools
- [x] "a version of Firefox" should link to `/documentation/develop/choosing-a-firefox-version-for-extension-development/`
- [x] "extension development tools" should link to `/documentation/develop/browser-extension-development-tools/`

### User Experience
- [x] "onboarding flow" shoul

[2019-08-22 22:23] caitmuenster opened #310 "Update links on Publish Overview page"
Now that more pages have been built out, it's time to update the links on the Publish Overview page.

### Get Your Extension Signed
- [ ] "developer agreement" should link to `/documentation/publish/firefox-add-on-distribution-agreement/`
- [ ] "add-on policies" should link to `/documentation/publish/add-on-policies/`
- [ ] "blocked" should link to `/documentation/publish/add-ons-blocking-process/

[2019-08-22 22:35] caitmuenster opened #311 "Sidebar order updates"
We need to update the order of some of the sidebar items in the Develop Section

## Firefox Tools
- [ ] `web-ext` command reference needs to move under `getting started with web-ext`
- [ ] `request the right permissions` needs to move into User Experience (under `build a secure extension`)

## User Experience
The order here should go:

* Build a secure extension
* Request the right permissions
* B

[2019-08-22 22:43] caitmuenster opened #312 "Update links on Manage Overview page"
Now that we have built out more pages, it's time to update the links on the Manage Overview page!

### Stay informed when Firefox
- [ ] this list of resources for publishers should link to `/documentation/manage/resources-for-publishers/`

### Promote your extension
- [ ] "make sure it’s as appealing" should link to `/documentation/develop/create-an-appealing-listing/`
- [ ] "Making money from bro

[2019-08-22 22:47] caitmuenster opened #313 "Update links on the landing page"
The following links need to be updated on the landing page:

- [ ] "Learn about security best practices" should link to `/documentation/develop/build-a-secure-extension/`
- [ ] "learn about our policies" should link to `/documentation/publish/add-on-policies/`

[2019-08-23 07:31] mirunacurtean commented on #266
Confirmed fix on Windows 10 64-bit, Android 8.0.0 and also on Ubuntu 18.04.2 LTS 64-bit on Dev environment.
Search results are listed for any of the documentation topics and also using the "extensions" and the "community" keywords.

[2019-08-23 17:51] muffinresearch opened #315 "Update to Jekyll 4.0"
See https://jekyllrb.com/news/2019/08/20/jekyll-4-0-0-released/ for details.

[2019-08-24 10:53] mahimas28 commented on #313
hey can i work on this bug?

[2019-08-24 11:02] championshuttler commented on #310
cc @kanurag94

[2019-08-24 11:03] championshuttler commented on #312
cc @dcipher00

[2019-08-24 11:03] championshuttler commented on #309
cc @megha-kumarii

[2019-08-24 11:05] kanurag94 commented on #310
Hi @caitmuenester I would like to solve this. Van you please assign this to me

[2019-08-24 11:07] megha-kumarii commented on #309
Working on it:)

[2019-08-24 22:31] dcipher00 commented on #312
Hi,
am working on it.

[2019-08-25 05:05] championshuttler commented on #313
@mahimas28 Certainly yes. Feel free to raise the PR :)

[2019-08-26 17:49] kanurag94 commented on #311
@caitmuenster I will be working on this.

[2019-08-26 19:42] kanurag94 commented on #311
@caitmuenster  Unrelated, but I think this link is broken. /documentation/develop/build-an-extension-in-5-minutes/
There is no such file.

[2019-08-26 19:54] kanurag94 commented on #311
@caitmuenster I think creating a page with embedded video would be better than to link externally something from sidebar or, simply mentioning the url in some other page

[2019-08-28 16:46] caitmuenster opened #323 "Update link to "addons on AMO can have multiple authors" on Manage overview page"
The link should go to `/documentation/publish/self-distribution/`.

[2019-08-28 16:47] caitmuenster opened #324 "Update link to "Some Firefox enterprise policies" on Enterprise overview page"
The link should go to `/documentation/enterprise/enterprise-policies-that-impact-extensions/`.

[2019-08-28 16:48] championshuttler commented on #323
cc @purnika41, are you interested in working on it?

[2019-08-28 17:43] ruchikabgosain commented on #323
Taking this up! @championshuttler thanks :)

[2019-08-28 21:31] ruchikabgosain commented on #324
Hello @caitmuenster, working on this one!

[2019-08-28 21:42] #323 closed

[2019-08-28 21:43] caitmuenster commented on #324
Closed via #326.

[2019-08-28 21:43] #324 closed

[2019-08-28 21:48] caitmuenster commented on #315
Oh cool! @muffinresearch, do you have a sense of how much effort it will take to update to Jekyll 4.0? Also -- do you have a sense of the update will break anything we currently have set up?

[2019-08-28 22:21] ruchikabgosain commented on #231
Hello @caitmuenster, is this issue still open? Would love to take this up!

[2019-08-28 22:22] caitmuenster commented on #231
@ruchikabgosain This is still open! Happy bug fixing!

[2019-08-28 22:39] ruchikabgosain commented on #232
Hey @caitmuenster, let me know if I can take up this issue and which files would I need to edit exactly?

Thanks ♥️

[2019-08-28 22:46] #231 closed

[2019-08-28 22:50] caitmuenster commented on #232
Hey @ruchikabgosain, this one's yours! This one is in the `pages.yaml file` in the  `_data folder`. I don't think you need to make any changes to the `enterprise.md` file but you might want to double check it when you're testing it locally.

[2019-08-29 01:54] ruchikabgosain commented on #237
Hey @caitmuenster, we changed the Google Drive links to those pages in the bugs recently. I believe this issue should be done? 🤔

[2019-08-29 07:45] dcipher00 commented on #312
Hi @caitmuenster thank you for adding my contribution to recognition wiki. I have created my account on mozillians.org, could you please vouch for me.
Thanks

[2019-08-29 08:26] muffinresearch commented on #315
We'll need to make sure all of the plugins are compatible first.

Here's the list:

* [ ] jekyll-assets - see https://github.com/envygeeks/jekyll-assets/issues/613
* [ ] jekyll-seo-tag - Looks ok the tests have been updated to run against jekyll 4.0.
* [ ] jekyll_pages_api - it's not clear, we'd need to try it. They aren't testing against Jekyll 4 yet.
* [ ] jekyll-target-blank - unclear - also th

[2019-08-29 15:20] caitmuenster commented on #237
Hey @ruchikabgosain, not quite yet.

"Goals for the API" should link to `/documentation/develop/about-the-webextensions-api/`

The "contribute" page still needs to be built (it's on my to-do list).

[2019-08-29 17:03] ruchikabgosain commented on #237
Ah! Alrighty @caitmuenster. Is there a bug for "Goals for API" or a way for me to fix that? Would love to do that 🙇✨

[2019-08-29 17:08] championshuttler commented on #237
@ruchikabgosain  yes i guess https://github.com/mozilla/extension-workshop/blob/518b1026a6f6dde95c7004db08250ba44aa2a582/community.md#L94 should be linked to
`/documentation/develop/about-the-webextensions-api/`

[2019-08-29 17:10] ruchikabgosain commented on #237
Right, thanks, on it @championshuttler 🙇

[2019-08-29 17:39] championshuttler commented on #232
@caitmuenster looks like wrong text used in PR, we are good to close this issue .

[2019-08-29 17:41] championshuttler commented on #246
@caitmuenster looks like wrong text used in PR 🤕 , we are good to close this issue I guess.

[2019-08-29 18:52] caitmuenster commented on #232
Closed by #329 .

[2019-08-29 18:52] #232 closed

[2019-08-29 18:53] caitmuenster commented on #246
Closed by #303.

[2019-08-29 18:53] #246 closed

[2019-08-29 19:20] caitmuenster opened #331 "Build page for "Updating Your Extension""
We need to port the content of the [MDN page for Updates](https://developer.mozilla.org/en-US/docs/Mozilla/Add-ons/Updates) to Extension Workshop.

- [x] Create new page in the "Manage" folder. The page should be titled "Updating your extension."
- [x] Update sidebar (make sure to include subpage items!) in the `pages.yaml` file. "Updating your extension" should be the first item in the sidebar li

[2019-08-30 10:30] championshuttler opened #334 "Update the .gitignore file"
We should increase the list in .gitignore to ignore the files like `.DS_Store`. For example added in #304 by mistake.

[2019-08-30 14:52] caitmuenster commented on #309
Woohoo, thank you so much, @apsychogirl! ✨

One last request -- could you update the "porting guide" link to " `/documentation/develop/developing-extensions-for-firefox-for-android/`? Then we can fully close this issue out. 💪🏼

[2019-08-30 16:21] championshuttler commented on #309
@caitmuenster https://github.com/mozilla/extension-workshop/blob/f7816bdec6ecddece3858ef8abd10c95f7496f9f/documentation/develop.md#L239,

I think its done already if i am not wrong

[2019-08-30 16:26] caitmuenster commented on #309
Check out line 239 -- it currently links to Developing Extensions for Android. :)

[2019-08-30 16:38] championshuttler commented on #309
Oops, got it, current link is `/documentation/develop/porting-a-google-chrome-extension/` we mentioned wrong link in issue description then ;)

[2019-08-30 16:39] caitmuenster commented on #309
Ahhh sorry! That was totally my fault!

[2019-08-30 17:24] #309 closed

[2019-08-30 17:42] caitmuenster opened #339 "Update sidebar in Develop section to link to GeckoView Extensions Android Library"
The sidebar in the Develop section needs to link to the GeckoView Extensions (Android Library): https://github.com/mozilla/geckoview

This can be fixed by updating the `pages.yaml file` and replacing the link to `/documentation/develop/geckoview-extensions-android-library/` to ` https://github.com/mozilla/geckoview`.

[2019-08-30 17:57] caitmuenster commented on #237
This should be closed by #330 and #338.

[2019-08-30 17:57] #237 closed

[2019-08-30 18:06] #339 closed

[2019-08-30 20:45] ruchikabgosain commented on #334
I would like to work on this one. Is this open? @championshuttler

[2019-08-30 20:47] caitmuenster commented on #334
@ruchikabgosain It looks like @championshuttler already has a PR up (#335). Would you be interested in finishing off #331 instead? We just need to add that page to the sidebar. :)

[2019-08-30 20:49] ruchikabgosain commented on #334
Ah yes, my bad. Yes, i would love to finish #335. Thank you @caitmuenster ✨😁

[2019-08-30 20:50] ruchikabgosain commented on #331
Hello @caitmuenster, as per our conversation, what changes do I need to make for the sidebar?

Cc: @championshuttler

[2019-08-30 20:54] caitmuenster commented on #331
Hey @ruchikabgosain!

You will need to edit the `pages.yaml` file in the `_data` folder. Scroll to the "Manage" section and look for the category called "Resources."

You will need to add "Updating your extension" as a new page and also add the subpage items based on the h2 (##) headings.

Let me know if you need any help!

[2019-08-30 20:56] ruchikabgosain commented on #331
Just a lil question: `documentation/manage/updating-your-extension.md` : this is the file i need to refer for the H2, right?

[2019-08-30 20:57] caitmuenster commented on #331
@ruchikabgosain Yes! Thanks for checking :)

[2019-08-31 07:51] #313 closed

[2019-09-02 10:38] AlexandraMoga commented on #246
I've seen that some of the links have changed but, in any case, the redirection seems to be correct now.

[2019-09-02 10:45] AlexandraMoga commented on #237
I see that the name of the links have changed a bit, but they are now redirecting to their corresponding resources.

[2019-09-02 11:31] #334 closed

[2019-09-03 16:59] caitmuenster commented on #331
Closed by #332 and #342.

[2019-09-03 16:59] #331 closed

[2019-09-03 17:12] caitmuenster commented on #253
@AlexandraMoga The overview pages should all be built out now. :) If you have time this week, could you re-check this on Android and see if this issue is still valid?

[2019-09-04 21:53] caitmuenster commented on #233
Thanks @jpfaller -- apologies for not including this in the content matrix!

I'm consolidating the themes overview section by 1) moving a condensed "what themes are" blurb into the header and 2) making the rest of the overview page solely about creating themes.

[2019-09-04 22:09] caitmuenster opened #346 "Landing page: update Test & Debug link update"
The link for "Test & Debug" on the landing page should go to `/documentation/develop/debugging/`.

![Screen Shot 2019-09-04 at 3 07 41 PM](https://user-images.githubusercontent.com/23342476/64295383-e12be280-cf25-11e9-893c-405662a377c6.png)

[2019-09-04 22:13] caitmuenster opened #347 "Landing page: Update links for Build Across Browsers"
On the landing page, the links in the Build Across Browsers section need to be updated.

- [x]  Learn about browser differences should link to `/documentation/develop/browser-compatibility/`
- [x]  Port a Google Chrome Extension should link to `/documentation/develop/porting-a-google-chrome-extension/`.

[2019-09-05 14:41] #346 closed

[2019-09-05 15:04] #347 closed

[2019-09-05 16:49] caitmuenster opened #350 "Update links on Firefox workflow overview"
- [x] Code your extension (currently results in 404)
- [x] Promote your extension
- [x] Featured extensions
- [x] Update your extension
- [x] Sideloading add-ons (currently results in 404)
- [x] Desktop apps (currently results in 404)
- [x] Enterprise (currently results in 404)

[2019-09-05 16:53] caitmuenster opened #351 "Update links on Browser Extension Development Tools"
- [x] web-ext get started
- [x] web-ext command reference
- [x] Developing extensions for Firefox for Android

[2019-09-05 16:56] championshuttler commented on #351
If I am not wrong, these should be linked to :
1. `/documentation/develop/getting-started-with-web-ext/`
2. `/documentation/develop/web-ext-command-reference/`
3. `/documentation/develop/developing-extensions-for-firefox-for-android/`

[2019-09-05 17:02] caitmuenster commented on #351
Thanks for filling in those gaps @championshuttler! Opening this bug up for contributors. :)

[2019-09-05 17:03] championshuttler commented on #351
cc @dcipher00

[2019-09-05 17:05] caitmuenster opened #352 "Update links on Browser compatibility page"
- [ ]  Building a cross-browser extension

[2019-09-05 17:08] caitmuenster opened #353 "Update links on Choosing a Firefox version for extension development"
- [ ] all instances of web-ext should link to EW page on "getting started with web-ext"
- [x] all locales should be removed from links

[2019-09-05 17:13] caitmuenster opened #354 "Update links on Getting started with web-ext page"
- [ ]  limitations regarding prompts for permissions and restart features --> `/documentation/develop/testing-persistent-and-restart-features/`
- [ ] run reference guide --> create anchor link for and link to `documentation/develop/web-ext-command-reference/` run section
set up your computer and device --> link to `/documentation/develop/developing-extensions-for-firefox-for-android/`
- [ ] too ma

[2019-09-05 17:14] caitmuenster opened #355 "Update links on web-ext command reference page"
Filing this issue to make sure it stays on radar; needs specific details.

[2019-09-05 17:15] caitmuenster opened #356 "Update links on Extensions and the add-on ID page"
Filing issue to keep it on radar; too many specifics.

[2019-09-05 17:26] championshuttler commented on #353
@alankritgupta091099 interested in working on it? let me know if you need any help.

[2019-09-05 17:29] championshuttler commented on #353
So , here is the starting point http://localhost:4000/documentation/develop/choosing-a-firefox-version-for-extension-development/ on this page , you have to link every instance of `web-ext` to `/documentation/develop/getting-started-with-web-ext/` and remove `en-US` from the mdn links if its getting used, for example here https://github.com/mozilla/extension-workshop/blob/fc7e0ee518ab464192b2c945d

[2019-09-05 18:04] #233 closed

[2019-09-05 19:16] ruchikabgosain commented on #354
Hey @caitmuenster can I take this up?

[2019-09-05 19:17] caitmuenster commented on #354
@ruchikabgosain I'm almost done with this but I will throw you the next one that needs work!

[2019-09-05 19:17] ruchikabgosain commented on #350
Hey @caitmuenster, can I take this up?
AFAIK, this links from #245

[2019-09-05 19:18] ruchikabgosain commented on #354
Ah, sounds good! 🚀

[2019-09-05 19:21] caitmuenster commented on #350
@ruchikabgosain This one's all yours!

All of these links need to go to the correct pages hosted on EW, except for Code Your Extension. Let's actually remove the link to Code Your Extension for now (I'm not seeing any good docs to link it to at the moment).

[2019-09-05 19:27] ruchikabgosain commented on #350
Taking this up right away! Just a lil confirmation: the edits go in `pages.yaml` right?

[2019-09-05 19:32] caitmuenster commented on #350
Thanks for checking! These edits are going to go directly on the `firefox-workflow-overview.md` file. :)

[2019-09-05 20:03] caitmuenster commented on #245
@AlexandraMoga You are a rock star for listing out the 404s. ⭐️ I am going to break the remaining 404s into separate issues to help make this a little bit more manageable and make this the master tracker issue for 404s.

[2019-09-05 20:13] caitmuenster opened #359 "Update links on Security Best Practices page"
A number of links need to be updated on `build-a-secure-extension.md`:

- [ ] document.createElement, Element.setAtttribute, Node.textContent --> MDN pages
- [ ] Safely inserting external content into a page. --> ??
- [ ]  eval(), content_security_policy --> MDN
- [ ] Default content security policy --> MDN
- [ ] built-in extension UI features --> https://developer.mozilla.org/docs/Mozilla/Add-ons

[2019-09-05 20:14] caitmuenster commented on #359
@ruchikabgosain Want to give this one a go? It requires a bit of double checking your work but I think you've got this. :)

[2019-09-05 20:15] ruchikabgosain commented on #359
@caitmuenster thankyou for this! it's on me! 😄

[2019-09-05 20:17] caitmuenster opened #360 "Update links for Requesting the Right Permissions"
The following links need to be updated in the `request-the-right-permissions.md` file:

- [ ] when you load an unpacked extension --> `/documentation/develop/temporary-installation-in-firefox/`
- [ ] Test permission requests --> `/documentation/develop/test-permission-requests/`

[2019-09-05 20:22] caitmuenster opened #361 "Update links: Best practices for collecting user data consents"
The following links need to be updated in the `best-practices-for-collecting-user-data-consents.md` file:

- [x] Data Disclosure, Collection and Management  --> `/documentation/publish/add-on-policies/#data-disclosure-collection-and-management`
- [x] Add-on Policies --> `/documentation/publish/add-on-policies/`
- [x] Best practices for onboarding, upboarding, and offboarding users. --> `/documenta

[2019-09-05 20:29] caitmuenster opened #362 "Update links on Build an Accessible Extension Page"
Related to #245.

All of the links that are 404'ing in the `build-an-accessible-extension.md` file need updating.

There is a good chance that replacing the prefix`https://https://extensionworkshop-dev.allizom.org` with `https://developer.mozilla.org` will lead you to the MDN page for that topic. We need these links to point to those MDN pages, without the localization coding.

[2019-09-05 20:39] caitmuenster opened #363 "Update links on User Experience Best Practices page"
Related to #245.

The following links need to be updated on `user-experience-best-practices.md`:

- [x]  Add-on Policies --> `/documentation/publish/add-on-policies/`
- [x] Best practices for onboarding, upboarding, and offboarding users --> `/documentation/develop/onboard-upboard-offboard-users/`
- [x] identify your extension as “experimental” --> `/documentation/publish/submitting-an-add-on/#lis

[2019-09-05 20:45] caitmuenster opened #364 "Update Debugging links"
The following links to be updated on the `debugging.md` file:

- [x] Test permission requests --> `/documentation/develop/test-permission-requests/`
- [x] Testing persistent and restart features --> `/documentation/develop/testing-persistent-and-restart-features/`

[2019-09-05 21:18] ruchikabgosain commented on #363
Hey @caitmuenster can I work on this?

[2019-09-05 21:19] ruchikabgosain commented on #361
Can I fix this? @caitmuenster 😀

[2019-09-05 21:23] caitmuenster commented on #361
Go for it @ruchikabgosain!

[2019-09-05 21:37] #363 closed

[2019-09-05 21:41] ruchikabgosain commented on #364
Fixing this one @caitmuenster! 🍇

[2019-09-05 21:53] #361 closed

[2019-09-05 21:54] ruchikabgosain commented on #352
Fixing this one @caitmuenster 🍔

[2019-09-05 21:58] #359 closed

[2019-09-05 21:59] ruchikabgosain commented on #352
Checked this one! The link seems to be working. What change do we need to make exactly?

[2019-09-05 22:00] ruchikabgosain commented on #360
Fixing this one! @caitmuenster 🍏

[2019-09-05 22:03] #364 closed

[2019-09-05 22:05] ruchikabgosain commented on #362
Fixing this one! @caitmuenster 🍒

[2019-09-05 22:15] #360 closed

[2019-09-06 08:31] AlexandraMoga commented on #253
@caitmuenster I had a closer look at all the menu options (Extension Basics, Documentation Topics with all its subsections, Community) and it looks like the Overview portion is still empty for all of them.

Here is a comparison for the Community menu:

![image](https://user-images.githubusercontent.com/31961530/64412687-a39b9680-d098-11e9-9d98-58a1b8b3ef42.png)

The rest of the content has been in

[2019-09-06 16:53] caitmuenster commented on #352
@ruchikabgosain My bad - this issue is invald. Nothing to do on the browser compatibility page!

[2019-09-06 16:53] #352 closed

[2019-09-06 17:33] caitmuenster opened #373 "Fix links on Publish overview page"
The following links need to be updated in the `publish.md` file:

- [ ] "mechanisms designed to enable enterprise browser administrators to install add-ons "should link to `/documentation/enterprise/enterprise-distribution/`
- [ ] "some things you should consider" should link to `/documentation/publish/self-distribution/`

[2019-09-06 17:37] caitmuenster opened #374 "Fix links on Add-on Policies page"
The following links need to be updated in the `add-on-policies.md` file:

- [ ] "uploaded for self-distribution" should link to `/documentation/publish/submitting-an-add-on/#self-distribution`
- [ ] "third party library guidelines" should link to `/documentation/publish/third-party-library-usage/`
- [ ] "What does review rejection mean to users?" should link to `/documentation/publish/what-does-re

[2019-09-06 17:41] caitmuenster opened #375 "Update link on Signing and distribution overview page"
The following links should be updated in the `signing-and-distribution-overview.md` file:

- [ ] Submitting an add-on should link to `/documentation/publish/submitting-an-add-on/`

[2019-09-06 17:44] caitmuenster opened #376 "Update links on Source Code Submission page"
The following links need to be updated in the `source-code-submission.md` file:

- [ ] "our requirements" should link to `/documentation/publish/third-party-library-usage/`

[2019-09-06 17:48] caitmuenster opened #377 "Update links on Sideloading page"
The following links need to be updated on the `sideloading.md` file:

- [ ]  "Signing and distributing your add-on" should link to `/documentation/publish/signing-and-distribution-overview/`

[2019-09-06 17:56] caitmuenster opened #378 "Update link & sidebar order on Manage overview page"
The following links should be updated in the `manage.md` file:

- [x] "add-ons on AMO can have multiple authors." should link to `/documentation/publish/add-on-ownership/`

The sidebar (`_data.yaml` file)should be re-ordered to:

- Updating your extension
- Best practices for updating your extension
- Resources for publishers
- Retiring your extension

[2019-09-06 18:01] caitmuenster opened #379 "Fix typos, links on Enterprise overview page"
### Copy fixes

- [x]   "Some Firefox enterprise policies might affect the extension.com"  should read " Some Firefox enterprise policies might affect the installation, behavior, and update of extensions."
- [x] addons.org should be `addons.mozilla.org` and should link to https://addons.mozilla.org
- [x] "enterprise distribution" should link to `/documentation/enterprise/enterprise-distribution/`

[2019-09-06 18:19] caitmuenster opened #380 "Update links on Enterprise distribution page"
The following links should be updated in the `enterprise-distribution.md` file:

- [x] "Installation using standard extension folders" should link to `/documentation/publish/distribute-sideloading/#standard-extension-folders`
- [x] "administrative config" should link to `https://support.mozilla.org/products/firefox-enterprise/policies-customization-enterprise/policies-overview-enterprise`

[2019-09-06 18:23] caitmuenster opened #381 "Update Developer Policies link in the footer"
In the `footer.html` file (in the `modules` folder), the link to the Developer Policies needs to change to `/documentation/publish/add-on-policies/`.

[2019-09-06 18:40] apsychogirl commented on #380
Can I take this up?

[2019-09-06 18:41] apsychogirl commented on #379
Hey! Can I work on this?

[2019-09-06 18:42] apsychogirl commented on #378
Can I take this up?

[2019-09-06 18:42] championshuttler commented on #380
Yes @apsychogirl go for it!. Thank you :)

[2019-09-06 18:43] championshuttler commented on #379
Yes @apsychogirl go for it!. Thank you :)

[2019-09-06 18:43] apsychogirl commented on #377
Can I take this up?

[2019-09-06 18:43] apsychogirl commented on #376
Can I work on this?

[2019-09-06 18:44] championshuttler commented on #378
Yes @apsychogirl go for it!. Thank you :)

[2019-09-06 18:46] apsychogirl commented on #375
Can I work on this?

[2019-09-06 18:48] apsychogirl commented on #374
Can I fix this up?

[2019-09-06 18:49] apsychogirl commented on #373
Can I fix this up?

[2019-09-06 19:16] #356 closed

[2019-09-06 19:57] ruchikabgosain commented on #352
Okay! @caitmuenster 🌟

[2019-09-06 20:12] ruchikabgosain commented on #375
Fixed this one! 😸

[2019-09-06 20:20] ruchikabgosain commented on #374
Fixed this one! 🍎

[2019-09-06 20:28] ruchikabgosain commented on #381
Hey @caitmuenster can fix this?

[2019-09-06 20:41] #375 closed

[2019-09-06 20:48] #355 closed

[2019-09-06 20:53] #374 closed

[2019-09-06 21:24] #350 closed

[2019-09-06 21:29] #378 closed

[2019-09-06 21:37] #362 closed

[2019-09-06 21:38] caitmuenster commented on #354
Closed by #358 .

[2019-09-06 21:38] #354 closed

[2019-09-06 21:43] caitmuenster commented on #381
Go for it @ruchikabgosain!

[2019-09-06 21:51] caitmuenster commented on #373
@apsychogirl Yes, go for it!

[2019-09-06 21:53] caitmuenster commented on #377
@apsychogirl Let's keep this one open for the moment while you're working on the other issues. :) If no one has asked to work on it by the time the other PRs are submitted, this one is yours.

[2019-09-06 21:56] caitmuenster commented on #376
@apsychogirl Let's leave this one open for others while you are working on the other issues. :) If this is still open when those PRs come in, this one is yours.

[2019-09-06 22:19] championshuttler opened #386 "Remove locales from all the urls"
We should remove locales from all the urls in project at once because:

Everytime someone makes some changes , there might be some chances that reviewer will miss the locale part.

[2019-09-06 22:22] #373 closed

[2019-09-06 22:25] ruchikabgosain commented on #351
Hey @dcipher00 will you be taking this up? If not, let me know, I would like go ahead with this :)

[2019-09-06 22:26] ruchikabgosain commented on #353
Hey @alankritgupta091099 would you be interested in working on this? Let me know, if not, id be happy to take this up :)

[2019-09-06 22:36] #381 closed

[2019-09-09 15:25] caitmuenster commented on #377
@apsychogirl Nice job on this! Can you also update the other links to "Signing & Distributing your add-on" in the file? There are still a few that link to MDN.

[2019-09-09 15:28] caitmuenster commented on #380
Hmm -- flagging this for myself (@caitmuenster) because the changes don't seem to be showing up in https://extensionworkshop-dev.allizom.org/.

[2019-09-09 17:42] caitmuenster commented on #376
Hmm -- this is currently 404'ing on dev. Reopening and tagging myself (@caitmuenster) for investigation.

[2019-09-09 18:10] caitmuenster commented on #376
Yay this is up now!

[2019-09-09 18:10] #376 closed

[2019-09-09 18:14] caitmuenster commented on #380
This is working! Yay!

[2019-09-09 18:14] #380 closed

[2019-09-10 16:43] championshuttler opened #395 "Change the text to Telegram Group in Connect with us section"
To Make it more clear in very first look we should change the text of Telgram channel from `t.me/addonschat` to `Telegram Group` as discussed with Caitlin on IRC.

[2019-09-10 17:36] #351 closed

[2019-09-10 18:09] #395 closed

[2019-09-10 19:16] #386 closed

[2019-09-11 23:03] virgilt commented on #353
@championshuttler can I work on this? This is my first contribution to Mozilla. I want to be a consistent contributor for HTML, CSS, and JavaScript projects.

[2019-09-12 04:38] championshuttler commented on #353
@virgilt Yeah absolutely , Go for it. Thank you!. Let me know if you need any help :)

[2019-09-13 16:16] caitmuenster commented on #225
@muffinresearch Do you think this blocks release?

[2019-09-13 16:50] #379 closed

[2019-09-13 16:52] caitmuenster commented on #253
Hm, I think this might be expected behavior.

What do you think, @muffinresearch?

[2019-09-16 11:30] ioanarusiczki opened #403 "The search dismiss button `x` is not diplayed on Firefox"
STR:
1. Load the homepage https://extensionworkshop-dev.allizom.org/
2. Go to the second search bar (not the one at the top of the page)
3. Type in a search query
4. Try to dismiss it using `x`

Expected result:
Search is dismissed.

Actual result:
`x` button is not available.

Note:
This issue is reproducible on EW dev (Win10) with FF69.
It is not reproducible with Chrome.

FF

![weeird](https://

[2019-09-16 11:49] ioanarusiczki opened #404 "Esc Key won't delete the search on FF"
STR:
1. Load the homepage https://extensionworkshop-dev.allizom.org/
2. Go to the second search bar (not the one at the top of the page)
3. Make a search
4. Try to dismiss it using `ESC` key

Actual result:
Nothing happens.

Expected result:
The search is dismissed.

Notes:
Reproducible on EW dev - FF69(Win10).
It not reproducible on Chrome.

FF

![using esc on ff](https://user-images.githubuserco

[2019-09-16 12:14] AlexandraMoga opened #405 "The popup-panels from Extension anatomy section are not dismissed when scrolling out of view"
### Describe the problem and steps to reproduce it:

1. Open EW homepage - https://extensionworkshop-dev.allizom.org
2. Scroll down until you reach the Anatomy of an Extension section
3. Click on one of the tiles from the graphic
4. After the popup-panel is opened, scroll down

### What happened?
The popup-panel is not dismissed

### What did you expect to happen?
The popup-panel should be dismiss

[2019-09-16 14:23] championshuttler commented on #353
Hey @virgilt , do you need any help. If you are getting stuck, please feel free to ask!

[2019-09-16 15:23] muffinresearch commented on #225
On that basis that it can be worked around, I'd say no. Would be nice to fix though.

[2019-09-16 15:24] caitmuenster commented on #225
Sounds good. I'm ok with marking it as a p3 if that sounds good.

[2019-09-16 15:26] muffinresearch commented on #253
Does seem like a bug, I can't see a reason why that content should be withheld.

[2019-09-16 15:46] caitmuenster commented on #404
Thanks @ioanarusiczki, this looks like it's behaving as expected. Since that text box lives permanently on that part of the page, it's ok to that you can't escape it.

[2019-09-16 15:50] caitmuenster commented on #253
The dropdown should show other documents in that section.

[2019-09-16 15:51] caitmuenster commented on #249
After having some conversations, we're not going to make this issue a blocker. When we do the soft launch with the community, we're going to collect feedback on how search is performing and then we can reassess this.

[2019-09-17 08:01] ioanarusiczki commented on #404
@caitmuenster Sorry I did not write this down correctly.
It is about deleting the search term used not about dismissing the search bar.
If I use `esc` key on Chrome (as I showed above - the button helps deleting the text).
I will update it correctly and reopen.

[2019-09-18 03:04] virgilt commented on #353
@championshuttler I was setting up the build on Linux, never done anything like this before. I'll be working on the issue now.

[2019-09-18 10:00] rbrishabh commented on #403
Hey! I would like to take this up!

[2019-09-18 15:32] ioanarusiczki opened #407 "Extensions Developer Newsletter - the E-mail address stays highlighted in red on FF, it never shows a red highlight on Chrome"
I've noticed an inconsistency on how FF behaves compared to Chrome.

On FF:
1. Go to Extensions Developer Newsletter and type in an invalid e-mail address (check the box below)
2. Click Sign up and observe the screen

Result:
E-mail Adress is highlighted in red and a warning message is displayed.

Notes:
If after the above steps I delete the invalid address the box stays highlighted in red. If I t

[2019-09-18 17:15] championshuttler opened #408 "404 on build-a-secure-extension page"
There are some 404 in `Use the standard extension content security policy (CSP)` section.

1.`<script>`
2. `<object>`

[2019-09-18 19:28] #408 closed

[2019-09-19 09:04] muffinresearch commented on #404
This is just a difference in how FF and chrome handle `<input type="search" />`. See https://jsbin.com/kumixo/edit?html,output

As such I don't think this necessarily needs a fix.

[2019-09-19 10:10] muffinresearch commented on #403
This isn't a bug it's just a difference in default browser behaviour see: https://jsbin.com/kumixo/1/edit?html,output

[2019-09-19 10:10] #403 closed

[2019-09-19 10:10] #404 closed

[2019-09-19 10:18] muffinresearch commented on #407
This is a difference in the standard behaviour between chrome and Firefox for HTML5 validation see: https://jsbin.com/hazafof/edit?html,output

As such I don't think a fix is necessary.

[2019-09-19 10:18] #407 closed

[2019-09-20 02:14] virgilt commented on #353
@championshuttler Not sure if I am missing something here. All references of `web-ext` on [http://localhost:4000/documentation/develop/choosing-a-firefox-version-for-extension-development/](url) are already pointing to `/documentation/develop/getting-started-with-web-ext/`

[2019-09-20 11:59] ioanarusiczki opened #413 "There's a glitch on the screen when scrolling down towards the footer of the page"
STR:
1.  Load https://extensionworkshop-dev.allizom.org/ on a mobile device and navigate toward the end of the page to `Connect with us` and `Footer`
2. Scroll down then up and repeat some scrolls up and down on those sections.
3. Observe the bottom of the screen

Expected result:
No UX issues.

Actual result:
There's a white line (sometimes is more obvious) that appears on the bottom of the scree

[2019-09-20 13:27] AlexandraMoga opened #414 "[Test-permission-requests] Link pointing to addons.mozilla.org is incorrect"
### Describe the problem and steps to reproduce it:

1. Open the following documentation page - https://extensionworkshop-dev.allizom.org/documentation/develop/test-permission-requests/#observe-or-verify-install-time-permission-requests
2. Click on  the `addons.mozilla.org` link displayed below:

![image](https://user-images.githubusercontent.com/31961530/65330039-71268900-dbc2-11e9-9eaa-02f04520b

[2019-09-20 13:28] AlexandraMoga opened #415 "Incorrect link mapping in /documentation/develop/debugging/#debugging-options-pages"
### Describe the problem and steps to reproduce it:

1. Open the following page - https://extensionworkshop-dev.allizom.org/documentation/develop/debugging/#debugging-options-pages
2. Click on the `favorite-colour` example in the yellow banner

### What happened?
The link is mapped to https://github.com/mdn/webextensions-examples/tree/master/favourite-colourbeastify , which does not exist

### Wha

[2019-09-20 13:28] AlexandraMoga opened #416 "Links to firefox channels are missing an anchor to the respective channel section"
### Describe the problem and steps to reproduce it:
1. Open the following documentation page - https://extensionworkshop-dev.allizom.org/documentation/develop/web-ext-command-reference/
2. Scroll down to "Here are all available aliases and the executables they map to" section:

![image](https://user-images.githubusercontent.com/31961530/65311981-41fc2180-db9a-11e9-9fcd-ef19996fe04d.png)
3. Click o

[2019-09-20 13:40] AlexandraMoga opened #417 ""Creating" is used twice in a hyperlink displayed on the Promote your extension section"
### Describe the problem and steps to reproduce it:

1. Open the following documentation page - https://extensionworkshop-dev.allizom.org/documentation/publish/#promote-your-extension
2. Check the text present above the video

### What happened?
There is a double entry for "creating" in the hyperlink

### What did you expect to happen?
The extra word should be removed

![image](https://user-images

[2019-09-20 13:56] AlexandraMoga opened #418 "The video player can't be dismissed with Esc key"
### Describe the problem and steps to reproduce it:
1. Open a page section that contains a video - see https://extensionworkshop-dev.allizom.org/documentation/publish/#promote-your-extension
2. Play the video present in this section
3. Press the Esc key to close the player

### What happened?
The video player is not closed

### What did you expect to happen?
The video player is closed

### Anythin

[2019-09-20 14:43] championshuttler commented on #414
Hi @virgilt , are you interested in working on this one?

[2019-09-20 14:56] #417 closed

[2019-09-20 15:09] caitmuenster commented on #353
Sorry about that @virgilt -- indeed, all references of web-ext were pointing to the right place in that doc.

[2019-09-20 15:09] #353 closed

[2019-09-20 15:11] #416 closed

[2019-09-20 15:24] #415 closed

[2019-09-20 16:58] virgilt commented on #414
@championshuttler Yes, absolutely interested!

[2019-09-20 17:03] championshuttler commented on #414
Awesome @virgilt , it would be great if you can raise the PR till monday, no pressure though, we are going to freeze the code next week :)

[2019-09-20 19:25] virgilt commented on #414
@championshuttler I am working on it now so I will try to finish it today.

[2019-09-20 20:09] #414 closed

[2019-09-23 07:36] AlexandraMoga commented on #416
Links in this sections are correct now.

[2019-09-23 07:40] AlexandraMoga commented on #415
The link is pointing to the correct extension now.

[2019-09-23 07:42] AlexandraMoga commented on #414
Link is pointing to the correct website now.

[2019-09-23 07:44] AlexandraMoga commented on #417
Verified fixed;

![image](https://user-images.githubusercontent.com/31961530/65408864-132ab900-ddef-11e9-9b70-c369aa518159.png)

[2019-09-23 08:07] AlexandraMoga opened #424 "Several style inconsistencies on the Firefox Add-on Distribution agreement page"
### Describe the problem and steps to reproduce it:
1. Open the Add-on Distribution agreement documentation page - https://extensionworkshop-dev.allizom.org/documentation/publish/firefox-add-on-distribution-agreement/
2. Check the font style in the following sections:

### What happened?
- [Your obligations](https://extensionworkshop-dev.allizom.org/documentation/publish/firefox-add-on-distributio

[2019-09-23 08:44] AlexandraMoga opened #425 "A resource linked in the Package your extension page is not available"
### Describe the problem and steps to reproduce it:
1. Open the following section from the Package your extension page  - https://extensionworkshop-dev.allizom.org/documentation/publish/package-your-extension/#package-linux
2. Click on the following link from the information banner:

![image](https://user-images.githubusercontent.com/31961530/65412045-1b86f200-ddf7-11e9-830a-0d64c50b4f0d.png)

###

[2019-09-23 09:06] championshuttler commented on #425
I guess link should be - http://infozip.sourceforge.net/Zip.html

[2019-09-23 09:06] AlexandraMoga opened #426 "The source code upload guideline should be updated to match the current process"
### Describe the problem and steps to reproduce it:
1. Open the source code upload documentation page - https://extensionworkshop-dev.allizom.org/documentation/publish/source-code-submission/
2. Scroll down to the 'How to upload source code' section
3. Check the guideline and the screenshot provided in this section

### What happened?
The process presented is outdated

### What did you expect to h

[2019-09-23 10:10] AlexandraMoga opened #428 "Layout issues in search results when searching from a tag"
### Describe the problem and steps to reproduce it:
1. Open any documentation page - i.e https://extensionworkshop-dev.allizom.org/documentation/manage/updating-your-extension/
2. Scroll down to the bottom of the page and click on any of the listed tags - i.e `distribution`
![image](https://user-images.githubusercontent.com/31961530/65417596-116af080-de03-11e9-92c9-c24b51769afe.png)

3. Check the

[2019-09-23 10:25] muffinresearch commented on #425
Looks like the link is broken on their site too: see http://infozip.sourceforge.net/ and scroll down to "Info-ZIP Downloads".

<img width="994" alt="Info-ZIP_Home_Page" src="https://user-images.githubusercontent.com/1514/65418590-b03c2080-ddf4-11e9-9475-7f1cf1c7f50a.png">

Looking at wayback machine this page is man page documentation, so we could probably use something like https://linux.die.net/

[2019-09-23 11:18] ioanarusiczki opened #431 "There's a delay in loading the Manifest.json graphic animation"
STR:
1. On Win or MacOS load the homepage https://extensionworkshop-dev.allizom.org/ and scroll down and pass the Anatomy of an Extension then return to it
2. Observe the Manifest.json animation

Expected result:
The animation was visible on the section while scrolling down.

Actual result:
Animation loads only if you stop on it - it has a small delay in loading.

Notes:
This issue is reproducible

[2019-09-23 12:51] ioanarusiczki opened #433 "[Android] Menu and dropdown become inactive when changing orientation"
STR:
1. Load https://extensionworkshop-dev.allizom.org/ on a tablet in it's original orientation (landscape).
2. Go to a tab - extension Basics or any other
3. Change orientation into portrait
4. Tap the Menu button or the drop down bar (where the links from the pages are available)

Expected result:
The Menu is displayed. The drop down list is available.

Actual result:
Both buttons are inactive.

[2019-09-23 12:54] AlexandraMoga commented on #245
@caitmuenster It seems that all the links mentioned above are opening a corresponding resource now.

However, while checking the contents of the Documentation pages, I've run into a few other 404s:

- [ ] - [**Porting a legacy Firefox extension**](https://extensionworkshop-dev.allizom.org/documentation/develop/porting-a-legacy-firefox-extension/)
  - the `build a basic example` link in the Quick s

[2019-09-23 13:38] AlexandraMoga opened #434 "[Mobile] Firefox workflow overview page has layout issues on smaller screen sizes"
### Describe the problem and steps to reproduce it:
1. Open the Firefox workflow overview documentation page on a mobile device - https://extensionworkshop-dev.allizom.org/documentation/develop/firefox-workflow-overview/
2. Observe the table layout

### What happened?
The table is hard to read

### What did you expect to happen?
The table should be easier to read on smaller screen sizes

### Anyth

[2019-09-23 14:14] ioanarusiczki opened #435 "[MacOS] Tab key navigation does not work as expected"
STR:
1. Load https://extensionworkshop-dev.allizom.org/
2. Using the mouse, click anywhere before a link on the page and then using `Tab` key try to navigate to the next link or element on the page
3. Observe the page

Expected result:
The next link or element is highlighted and using `enter` key it can be accessed.

Actual result:
It will jump at the bottom of the page to Newsletter.

Notes:
It i

[2019-09-23 14:36] AlexandraMoga opened #436 "[Mobile] Unbroken strings are causing layout issues which are visible on smaller screen sizes"
### Describe the problem and steps to reproduce it:
1. Open the following documentation page on mobile device - https://extensionworkshop-dev.allizom.org/documentation/develop/developing-extensions-for-firefox-for-android/
2. Scroll down until you reach the "Check for Firefox for Android compatibility" section
3. Notice the following two code snippets: `PERMISSION_FIREFOX_ANDROID_UNSUPPORTED_BY_MI

[2019-09-23 14:56] AlexandraMoga opened #437 "Code wrapping issue in `Debugging` documentation page"
### Describe the problem and steps to reproduce it:
1. Open the following documentation page - https://extensionworkshop-dev.allizom.org/documentation/develop/debugging/#debugging-content-scripts
2. Check the format of the text highlighted below:

![image](https://user-images.githubusercontent.com/31961530/65436273-96b5cb80-de2a-11e9-9068-beee9eaa06a8.png)

### What happened?
For `Ctrl Shift i`,

[2019-09-23 15:18] #425 closed

[2019-09-23 15:24] AlexandraMoga opened #439 "The 'Up Next' cell title should be centered when there is no section title present in the cell"
### Describe the problem and steps to reproduce it:
1. Open the following documentation page, which is also the last entry from the 'Manage' section - https://extensionworkshop-dev.allizom.org/documentation/manage/retiring-your-extension/
2. Scroll down to the bottom of the page and check the "Up next" navigation cells

### What happened?
The "Enterprise" cell title is not centered most likely bec

[2019-09-23 15:27] #426 closed

[2019-09-23 15:40] caitmuenster commented on #435
@muffinresearch to investigate. We don't think this is a blocker to release.

[2019-09-23 15:54] muffinresearch commented on #435
I'm not sure I follow this part of the STR. Should the first part "Using `Tab` key click" refer to using the mouse rather than the tab key?

[2019-09-23 17:08] #424 closed

[2019-09-23 17:20] #437 closed

[2019-09-23 17:23] muffinresearch commented on #439
I'm not sure this is something that should be fixed "Enterprise" on the left *is* the heading/title.

[2019-09-23 17:33] muffinresearch opened #440 "Table headings missing a text alternative"
See https://extensionworkshop-dev.allizom.org/documentation/develop/firefox-workflow-overview/

Each `th` contains a png with text (in the image) that has no alt attribute set:

<img width="673" alt="Firefox_workflow_overview___Extension_Workshop" src="https://user-images.githubusercontent.com/1514/65448409-9d474180-de30-11e9-8dab-a1e966902132.png">

<img width="855" alt="Firefox_workflow_overview

[2019-09-23 17:49] caitmuenster commented on #440
For the time being, I'd be ok with removing the images and having the headers be bolded in the larger font size.

@championshuttler, do you want to take this on?

[2019-09-23 18:09] caitmuenster commented on #245
Thanks @AlexandraMoga! I'll get some PRs up shortly.

[2019-09-23 18:37] championshuttler opened #444 "Separate contributing.md file in .github"
File with how to contribute guidelines, needs to removed from readme.md and add link to the file in readme.md

[2019-09-23 21:40] #440 closed

[2019-09-24 07:23] AlexandraMoga commented on #439
That's also what I've thought initially, but then I noticed that on smaller screen sizes the tile is centered. This is why I was wondering why we can't have the same layout on normal/large screens:

[small screen]
![image](https://user-images.githubusercontent.com/31961530/65490138-43d52600-deb5-11e9-83f2-aa3f4a737a9a.png)

[2019-09-24 07:29] championshuttler opened #445 "Delete the unused images after #441"
After #441 Few images are irrelevant so remove the unused images
1. firefox_workflow_code.png
2. firefox_workflow_prepare.png
3. firefox_workflow_retire.png
4. firefox_workflow_enhance.png
5. firefox_workflow_publish.png

[2019-09-24 07:33] ioanarusiczki commented on #435
@muffinresearch My mistake. I was in a hurry and did not write in down clearly.  I meant using the mouse, yes!

[2019-09-24 07:55] AlexandraMoga opened #447 "Paragraphs in the Add-on Distribution agreement page should have the same layout"
### Describe the problem and steps to reproduce it:

1. Open the Add-on Distribution agreement documentation page - https://extensionworkshop-dev.allizom.org/documentation/publish/firefox-add-on-distribution-agreement/
2. Check the paragraph titles for the consecutive page sections

### What happened?
- For the [Distribution, certificates, & review process](https://extensionworkshop-dev.allizom.or

[2019-09-24 07:55] AlexandraMoga commented on #424
The styling looks consistent now.
There is another smaller issue that I failed to notice yesterday, for which I've filed #447 as a follow up.

[2019-09-24 08:06] AlexandraMoga commented on #425
The links was updated to the one recommended in the comment above.

[2019-09-24 08:11] AlexandraMoga commented on #426
The Source code submission section has been updated with the suggestions I've posted above.

[2019-09-24 08:19] AlexandraMoga commented on #437
Looking better now:

![image](https://user-images.githubusercontent.com/31961530/65494151-ec3ab880-debc-11e9-9bd4-fb4b140d04d4.png)

[2019-09-24 08:36] muffinresearch opened #448 "Remove inline styles"
This PR https://github.com/mozilla/extension-workshop/pull/441 introduced inline styles.
They should be removed and instead be provided via a style-sheet.

[2019-09-24 08:54] AlexandraMoga commented on #245
All links, except for the Recommended extensions one, are now working.

[2019-09-24 09:17] muffinresearch opened #449 "Improve fragment linking"
An empty section was added in PR #441 for fragment linking, it works but it is quite meaningless from a markup perspective. A better way to do this would be to provide an id directly on the paragraph. See http://jsbin.com/jodesuy/edit?html,output for an example.

[2019-09-24 09:18] #445 closed

[2019-09-24 11:29] muffinresearch commented on #435
I can't repro this following the STR so far.

[2019-09-24 11:36] ioanarusiczki opened #450 "The warnings shown for a search with less than 3 chars or an empty search are still visible after scrolling down"
Similar to https://github.com/mozilla/extension-workshop/issues/405

1. Load https://extensionworkshop-dev.allizom.org/ and make a blank search and after the warning is displayed start scrolling down. Repeat the step for a search with less than 3 chars.

Expected result:
The message is dismissed.

Actual result:
The message is not automatically dismissed.

Notes:
This is reproducible on EW dev wit

[2019-09-24 13:02] ioanarusiczki opened #451 "[Android] When the orientation of the device is changed the content of the page changes"
STR:
1. Load https://extensionworkshop-dev.allizom.org/ scroll down to a section on the Homepage. I tried with `Anatomy of an extension` or `Build extensions`.
2. Change the orientation of the device

Expected result:
The same place/line of text is shown as it was before changing orientation.

Actual result:
The screen displays another line or even section of the page.

Notes:
This is reproducible

[2019-09-24 13:42] #435 closed

[2019-09-24 15:27] ioanarusiczki opened #452 "[Extension Basics] Create a link for "Overview of the Firefox extension features""
Followup (as discussed with @caitmuenster on slack: #turtletown)
The "Overview of the Firefox extension features" from "Extension Basics" should be a link to “Cool Things Extensions Can Do” section on the landing page.

![Create a link](https://user-images.githubusercontent.com/33448286/65525839-ce8b4480-def8-11e9-8740-c616223fada7.png)

[2019-09-24 15:40] championshuttler opened #453 "Links should be correct on extensions-basic page"
Right now , all the links in Getting Started are linked to dev server, which is wrong. Needs to be fix

[2019-09-24 16:40] AlexandraMoga commented on #453
@championshuttler are the links form the Extension Basics page the only ones affected?
Can we double check that there is no hardcoding in other Documentation pages as well?

[2019-09-24 16:53] muffinresearch commented on #245
This is fixed now, it was missing a trailing slash in the config. See https://extensionworkshop-dev.allizom.org/documentation/publish/recommended-extensions

[2019-09-24 16:56] championshuttler commented on #453
@AlexandraMoga , I searched for the dev server link globally in the project, i did not find any other though :). Feel free to make sure once again.

[2019-09-24 17:02] #453 closed

[2019-09-24 17:03] rbrishabh commented on #452
Hey @championshuttler ! I am taking this one up.

[2019-09-24 17:18] muffinresearch commented on #451
Is this exclusive to this site, presumably this would happen on any website?

[2019-09-24 17:22] muffinresearch commented on #450
This is using HTML5 implemented in the browser. Sounds like https://bugzilla.mozilla.org/show_bug.cgi?id=643758

[2019-09-24 17:37] muffinresearch commented on #439
I personally find the current layout fine, I think if the heading was central vertically on the desktop layout it would look more like a bug than it does now.

[2019-09-24 17:38] #245 closed

[2019-09-24 20:24] caitmuenster commented on #452
Hey @rbrishabh, thanks! Can you submit your patch by 25 September? Our code freeze starts on that date. If not, no worries -- we can find you another bug. :)

[2019-09-24 22:10] caitmuenster commented on #447
The formatting of the line separations is intended and does not need to be fixed (see the [page](https://developer.mozilla.org/docs/Mozilla/Add-ons/AMO/Policy/Agreement) on MDN for reference).

It does look like  h4 text on EW does not seem that much bigger than paragraph text. I'm ok with this at the moment but we can keep it in mind if there is confusion in the future.

[2019-09-24 22:10] #447 closed

[2019-09-24 22:12] caitmuenster commented on #439
I'm ok with it as is. If we get any complaints during soft launch, we can revisit this, but otherwise I don't think this needs fixing.

[2019-09-24 22:13] #439 closed

[2019-09-24 22:14] caitmuenster commented on #433
@muffinresearch What do you think about this?

[2019-09-25 02:14] rbrishabh commented on #452
Doing this right away @caitmuenster!

[2019-09-25 06:17] AlexandraMoga commented on #453
Verified fixed:

![image](https://user-images.githubusercontent.com/31961530/65574114-3bdcbb00-df75-11e9-8b5d-423ec0a4c2c7.png)

[2019-09-25 06:25] AlexandraMoga commented on #245
The Recommended extensions page is available now.

Marking this issue as verified fixed.

[2019-09-25 08:02] ioanarusiczki commented on #450
@muffinresearch Yes, it is the same UX problem described in https://bugzilla.mozilla.org/show_bug.cgi?id=643758 which was opened 9 years ago.
I see it as a minor UX issue, but who knows, maybe it will be fixed one day.

[2019-09-25 08:10] muffinresearch commented on #433
Definitely should be fixed.

[2019-09-25 09:00] ruchikabgosain commented on #444
hey @championshuttler can I take this up? also, could you put in more details about this?

[2019-09-25 09:24] ioanarusiczki commented on #451
@muffinresearch
I don't see it reproducible on AMO or on [Download Firefox](https://www.mozilla.org/en-US/firefox/new/?utm_campaign=footer&utm_medium=referral&utm_source=addons.mozilla.org) Page with FF69 on Android 8.0

I found a page I see it reproducible -[ Forum](https://discourse.mozilla.org/c/add-ons)  with FF69 on Android 8.0

[2019-09-25 12:10] muffinresearch commented on #451
Yeah, I think it will depend completely on what a site adds / removes from the page and whether content above takes up more vertical space based on viewport width. As such I don't think this is something we can viably fix.

[2019-09-25 12:10] #451 closed

[2019-09-25 12:14] muffinresearch commented on #143
There is no jump menu in the new site design, though this sounds similar to https://github.com/mozilla/extension-workshop/issues/433

[2019-09-25 12:14] #143 closed

[2019-09-25 12:14] muffinresearch commented on #211
Note, the lib linked above is no longer maintained so an alternative should be found.

[2019-09-25 12:16] muffinresearch commented on #210
I tried to set this up, but it took forever to run. Maybe there's a better alternative?

[2019-09-25 12:27] muffinresearch commented on #155
This appears to be a known issue with the dependency, they have open patches with fixes that may help with this:

* https://github.com/kenwheeler/slick/pull/3773
* https://github.com/kenwheeler/slick/pull/3716

[2019-09-25 12:31] muffinresearch commented on #253
Looks like this would duplicate content that's already shown in the page. I took at look at making the change but it requires quite a lot of changes to the nav because once the content is displayed it needs to close the nav on-click as well as scroll to the right position.

As the same navigation content is in the page already, I don't know if this is enough of a problem to warrant that change and

[2019-09-25 17:48] #452 closed

[2019-09-25 18:36] #418 closed

[2019-09-25 18:53] #433 closed

[2019-09-25 19:04] caitmuenster commented on #253
Thanks @muffinresearch! If the fix duplicates content and also requires a lot of changes to the nav, I think this is fine. Let's go ahead and close this issue.

[2019-09-25 19:04] #253 closed

[2019-09-25 19:20] #436 closed

[2019-09-25 19:22] muffinresearch commented on #434
This was fixed with removal of the images.

[2019-09-25 19:22] #434 closed

[2019-09-25 19:28] muffinresearch opened #460 "Code is formatted strangely"
See https://extensionworkshop-dev.allizom.org/documentation/develop/developing-extensions-for-firefox-for-android/

<img width="1265" alt="Developing_extensions_for_Firefox_for_Android___Extension_Workshop" src="https://user-images.githubusercontent.com/1514/65633028-0a92d800-dfd3-11e9-9732-0f292621525d.png">

[2019-09-25 20:21] muffinresearch commented on #460
This exists on many pages and is caused by prettier re-formatting code.

[2019-09-25 21:03] #460 closed

[2019-09-26 02:24] rbrishabh commented on #448
Hey @muffinresearch! Can I take this up?

[2019-09-26 06:30] AlexandraMoga opened #463 "The video player can't be dismissed with Esc key if the video is paused"
### Describe the problem and steps to reproduce it:

1. Open a page section that contains a video - see https://extensionworkshop-dev.allizom.org/documentation/publish/#promote-your-extension
2. Play the video present in this section
3. Pause the video
4. Press the Esc key to close the player

### What happened?
The video player is not closed

### What did you expect to happen?
The video player is

[2019-09-26 06:38] AlexandraMoga commented on #436
The overflow issue is fixed:

![image](https://user-images.githubusercontent.com/31961530/65664075-2c2aa880-e041-11e9-99e6-1840b815f24f.png)

[2019-09-26 07:23] AlexandraMoga opened #464 "The table from the Firefox workflow overview page should have smaller headers"
### Describe the problem and steps to reproduce it:

1. Open the Firefox workflow overview documentation page - https://extensionworkshop-dev.allizom.org/documentation/develop/firefox-workflow-overview/
2. Observe the table headers

### What happened?
The table headers are too prominent

### What did you expect to happen?
Table headers should be smaller

### Anything else we should know?
- I've co

[2019-09-26 07:24] AlexandraMoga commented on #434
The removal of images from the table header has improved readability, but I think that the header titles are too big.

![image](https://user-images.githubusercontent.com/31961530/65667145-c4c42700-e047-11e9-8d1b-3890b93ea720.png)

Maybe we can reduce the font size a bit?
I filed a follow up for his - see #464

[2019-09-26 07:53] ioanarusiczki commented on #452
@caitmuenster The URL redirects to "Why Create Extensions on Firefox" - the “Cool Things Extensions Can Do” is visible below (less visible on small devices).
Is that alright?

The Desktop view

![Extension Basics](https://user-images.githubusercontent.com/33448286/65668480-79f7de80-e04a-11e9-84cc-57fff4825503.gif)

The Android (small device) view

![Pixel view](https://user-images.githubuserconten

[2019-09-26 08:48] ioanarusiczki commented on #433
@muffinresearch Verified on FF69 (Android 8.0.0) with Huawei Media Pad.

![the tablet fix](https://user-images.githubusercontent.com/33448286/65672313-7c116b80-e051-11e9-9021-88382ee8d549.gif)

It's also visible in the .gif above -  when I'm going into a subsection (Develop, Publish etc) from Documentation Topics and switch orientation I will only have the drop down menu displayed and I need to sc

[2019-09-26 08:54] muffinresearch commented on #463
Thanks - this is a good catch, the problem is caused by the focus being on the video iframe when you've interacted with it.

[2019-09-26 10:23] muffinresearch commented on #463
Investigating this, there's simply no way to achieve this easily. Youtube doesn't provide keyboard events and when the iframe is focused there's no way to listen to keyboard events.

The only way we could possible fix it, is to use a completely new player that overlays the iframe and provides custom controls so that the iframe never gets focus.

Note: https://www.mozilla.org/en-US/ also has the sa

[2019-09-26 10:25] #449 closed

[2019-09-26 10:36] muffinresearch opened #466 "Documentation to be published needs to have published flag set to true"
Before I can tag for stage we'll need to mark all the unpublished docs as publishable by removing `published: false`

[2019-09-26 10:47] #448 closed

[2019-09-26 10:47] #464 closed

[2019-09-26 11:26] #466 closed

[2019-09-26 11:57] muffinresearch opened #468 "v2.0.0-stage tag is not being built by circle-ci"
I've tried to tag a release for stage but I think the configuration probably has issues since it's not picking up the tag for stage.

[2019-09-26 12:47] AlexandraMoga commented on #464
Verified fixed:

![image](https://user-images.githubusercontent.com/31961530/65688947-a32d6480-e074-11e9-9637-8f3655f2cef0.png)

[2019-09-26 15:25] caitmuenster commented on #452
@ioanarusiczki Yes, this is fine. Thanks! :)

[2019-09-27 07:52] ioanarusiczki commented on #452
@caitmuenster Ok, then this can be marked verified on dev with FF69(Win10&Android 8.0)

[2019-09-27 09:31] muffinresearch commented on #468
The patch in https://github.com/mozilla/extension-workshop/pull/469 allowed this to build, however now we're seeing:

[code]

I suspect this is due to looking at `CIRCLE_BRANCH` rather than `CIRCLE_TAG`.

[2019-09-27 15:13] #468 closed

[2019-09-30 10:31] muffinresearch commented on #463
I've filed an upstream bug in case they'll consider adding support for key events. https://issuetracker.google.com/issues/141825188

[2019-09-30 13:54] AlexandraMoga opened #474 "Page sections from Manage Overview don't have the same order as on the actual page"
### Describe the problem and steps to reproduce it:
1. Open the 'Manage' documentation page - https://extensionworkshop.allizom.org/documentation/manage/
2. Scroll down slowly and follow the section markers in the Overview from the left side panel

### What happened?
The Overview doesn't follow the same order as the actual page - notice how the section marker jumps back and forth when you're scrol

[2019-10-01 09:40] AlexandraMoga opened #476 "The Developer newsletter subscription process is not very intuitive"
### Describe the problem and steps to reproduce it:
1. Open the Extension Workshop homepage
2. Scroll down to the footer section
3. Enter an email address in the Developer newsletter field and click on Sign up
![image](https://user-images.githubusercontent.com/31961530/65947781-a2fce280-e441-11e9-8bce-e9d73de80548.png)

### What happened?
There are several issues:
1. After clicking on Sign up, you

[2019-10-01 10:50] muffinresearch commented on #476
Hmm this seems to be a regression. I'm pretty sure this is all supposed to happen client-side and used to work that way. We have had issues before where this got broken when the form post url was changed. I'll investigate.

[2019-10-01 10:51] muffinresearch commented on #476
Yep I think that's happened again, the `en-US` from the form URL has been removed.

[2019-10-01 10:56] muffinresearch commented on #476
Regressed by https://github.com/mozilla/extension-workshop/pull/388

[2019-10-01 11:18] muffinresearch commented on #474
Fixed in https://github.com/mozilla/extension-workshop/pull/475

[2019-10-01 11:39] #476 closed

[2019-10-01 12:50] muffinresearch commented on #474
This is still not working.

[2019-10-01 12:56] #474 closed

[2019-10-01 13:21] muffinresearch commented on #476
This is fixed now on -dev.

[2019-10-01 13:21] muffinresearch commented on #474
This is fixed now on -dev.

[2019-10-01 13:46] muffinresearch commented on #476
Fix is now on stage.

[2019-10-01 14:05] AlexandraMoga commented on #476
@muffinresearch I've verified both -dev and stage and the subscription flow seems to work as expected now.
I'm adding the steps below, for future reference:

1. After filling in the subscription form on EW, the following message is displayed:
![image](https://user-images.githubusercontent.com/31961530/65969301-3566ab80-e46d-11e9-8709-5907e49efe2a.png)

2. After a few minutes, a confirmation email

[2019-10-01 14:12] AlexandraMoga commented on #474
The Manage Overview order is correct now, both in -dev and stage.

[2019-10-01 15:11] muffinresearch commented on #476
@AlexandraMoga great, thanks very much for catching this.

[2019-10-01 16:17] muffinresearch opened #479 "__version__ is invalid JSON"
The special URL [`/__version__`](https://extensionworkshop.com/__version__) is showing invalid JSON due to two tags tied to the current rev.

JSON output currently looks like this which is invalid:

[code]

To fix it, instead of doing this:

[code]
we can probably use this instead:

[code]

[2019-10-01 16:53] #479 closed

[2019-10-02 09:04] AlexandraMoga opened #481 "[Android] There is a glitch in the homepage footer that affects interaction with footer elements"
### Describe the problem and steps to reproduce it:
1. Open Extension Workshop homepage on an Android device
2. Go down to the footer section
3. Try to scroll up and down while in the footer area and observe its behavior

### What happened?
The footer is jumpy, some elements might disappear from view.  You might also notice that you can't interact with elements (see the email field in the newslett

[2019-10-02 10:34] ioanarusiczki opened #482 "Homepage - there are 2 blue links which redirect to the same page"
@caitmuenster @muffinresearch Looks like I did not catch this last week:

STR:
1. On homepage - https://extensionworkshop.com/ in the `Need some extra help along the way?` section there's:
"Learn more about the community"
"Learn about enhancing the API"

Actual result:
When clicked they both redirect to https://wiki.mozilla.org/Add-ons/Community/

Expected result:
Perhaps "Learn about enhancing th

[2019-10-02 11:14] AlexandraMoga commented on #481
This is similar to https://github.com/mozilla/extension-workshop/issues/413 but in my issue I've noticed that some elements can't be interacted with, which is a bit more severe.

[2019-10-02 12:32] muffinresearch commented on #481
So for jank free scrolling on Android, it seems to work best disabling all of the scroll-based effects.

This will mean things like the menu will be fixed to the top of the viewport. I think this is a reasonable compromise.

[2019-10-02 15:00] Patil2099 commented on #482
@ioanarusiczki @muffinresearch Can I work on this issue?

[2019-10-02 16:30] muffinresearch commented on #482
@Patil2099 not quite yet. We'll need to clarify where the link is supposed to point to.

[2019-10-03 05:54] ruchikabgosain commented on #482
hey @muffinresearch I think it can probably redirect to : `https://wiki.mozilla.org/WebExtensions` what do you think?

[2019-10-03 09:50] muffinresearch commented on #481
@AlexandraMoga a fix to just disable the parallax effects will be on -dev in ~12mins or so. When you can, please test it out on -dev and let me know if that improves things enough or if the fixes need to go further.

[2019-10-03 10:39] AlexandraMoga commented on #481
@muffinresearch I've checked -dev but I'm still reproducing all the issues described above, unfortunately

[2019-10-04 19:47] #482 closed

[2019-10-04 20:29] #444 closed

[2019-10-05 20:32] virgilt commented on #238
Hi @AlexandraMoga, may I work on this issue please?

[2019-10-05 20:33] virgilt commented on #267
Hi @AlexandraMoga can I work on this issue?

[2019-10-07 15:34] caitmuenster commented on #238
Thanks for your interest @virgilt! This is expected behavior and we're going to close as a wontfix. :)

[2019-10-07 15:34] #238 closed

[2019-10-07 16:43] #481 closed

[2019-10-07 16:58] muffinresearch commented on #481
@AlexandraMoga ok a further reaching solution has landed on -dev. See https://github.com/mozilla/extension-workshop/pull/489 for the details of the approach.

[2019-10-07 19:30] caitmuenster commented on #267
Hi @virgilt! We're currently only accepting patches tagged `contrib: good-first-bug` or `contrib: welcome` for this project.

We have a [few of those bugs available](https://addons-pm.herokuapp.com/contrib/good-first-bugs/?dir=desc&sort=updatedAt) for other add-ons projects -- would you be interested in checking those out?

[2019-10-08 00:36] virgilt commented on #267
@catmuenster I’ll check those out for sure!

[2019-10-08 10:21] AlexandraMoga commented on #481
@muffinresearch here are my results after verifying your patch on -dev:

Improvement:
- the footer is less jumpy on Firefox

Still an issue:
- interaction with elements in the 'Connect with us' section is still affected when the footer is scrolled in view
- the jumpiness reported for chromium browsers is still reproducing

I'm understanding that this issue is a bit hard to follow, since it tried t

[2019-10-08 10:48] AlexandraMoga opened #495 "[Android] Elements from the 'Connect with us' section can't be interacted with properly when the footer is in view"
Follow up for #481

### Describe the problem and steps to reproduce it:
1. Open Extension workshop homepage on an Android device
2. Scroll down until the 'Connect with us' section comes into view - _make sure the footer is not visible_
3. Tap on the email field in the Developer newsletter section - the email field should be responsive
4. Tap outside the email field to remove the focus then scroll

[2019-10-08 10:58] AlexandraMoga opened #496 "[Android] The footer is jumpy on chromium based browsers"
Follow up for #481

### Describe the problem and steps to reproduce it:
1. Open Extension workshop homepage on an Android device
2. Scroll down to the footer section

### What happened?
The footer will jump each time you will try to bring it into view

### What did you expect to happen?
The footer stays visible

### Anything else we should know?
- The issue reproduces only on EW homepage, with all

[2019-10-09 15:08] kumar303 opened #497 "Cannot link to documentation title anchors"
### Describe the problem and steps to reproduce it:

* Go to https://extensionworkshop.com/documentation/develop/getting-started-with-web-ext/
* Scroll down to *Using web-ext from a script*

### What happened?

You cannot link to this section of the documentation.

### What did you expect to happen?

MDN had an anchor icon which let you link to titles.

### Anything else we should know?

[2019-10-09 17:29] caitmuenster commented on #497
Thanks @kumar303. Would it be helpful if we anchor linked all of the h3s on this page?

[2019-10-09 18:41] caitmuenster opened #498 "about:debugging content needs to be updated"
@digitarald noted that `about:debugging` has changed dramatically and content needs to be updated accordingly.

[2019-10-09 18:48] kumar303 commented on #497
Yeah, any header (h2, h3, h4, ...) should be linkable. I guess linking h1s wouldn't be so helpful but maybe.

[2019-10-09 19:23] caitmuenster commented on #497
That should be doable! The h2s should already have anchors -- I'll add the h3 anchors for this week's push.

[2019-10-09 21:17] caitmuenster opened #499 "Update intro text on landing page"
Let's clarify the intro text on the landing page.

Currently, the text looks like:

![Screen Shot 2019-10-09 at 2 10 37 PM](https://user-images.githubusercontent.com/23342476/66521020-2b613000-ea9f-11e9-8019-fbd78eadabe8.png)

## Updated text

**Extend the Web**
Get help creating and publishing Firefox extensions that make browsing smarter, safer, and faster. You’ll find the resources you need, wh

[2019-10-10 10:58] muffinresearch commented on #497
Anchors weirdly seem to be on the sections. It would be good to move them to the headings, then we could more easily add some script to provide a link to the heading, which is a pretty established pattern.

That said looking at MDN I don't see any special behaviour for this either.

<img width="1280" alt="Getting_started_with_web-ext___Extension_Workshop" src="https://user-images.githubusercontent

[2019-10-10 15:47] muffinresearch opened #503 "Landscape with browser chrome makes heading cramped on the homepage"
Using an Nexus 7 (Android) running FF Android, when the browser chrome is open it looks like this:

![Screen Shot 2019-10-10 at 16 43 12](https://user-images.githubusercontent.com/1514/66584713-8a957200-eb7d-11e9-8056-7bc0e23ff409.png)

We should add more space before the heading to allow for this.

[2019-10-10 16:46] #499 closed

[2019-10-10 17:23] Patil2099 commented on #503
@muffinresearch Can I work on this issue?

[2019-10-10 17:29] muffinresearch commented on #503
@Patil2099 sure.

[2019-10-10 17:33] muffinresearch commented on #503
Note: this is worse with the recent copy changes:

<img width="2560" alt="Extension_Workshop___Firefox_Extension_Workshop__Make_the_web_do_what_you_want__If_you_can_dream_it__our_open_souce_API_and_your_HTML__CSS__and_JavaScript_skills_can_make_it_happen_" src="https://user-images.githubusercontent.com/1514/66592203-7d33b400-eb8c-11e9-9fca-d7df6da28db8.png">

[2019-10-10 19:28] kumar303 commented on #497
Also, as a bonus feature it would be fantastic if old links redirected with the anchors in tact 🍰 🎠

Example: https://developer.mozilla.org/en-US/docs/Mozilla/Add-ons/WebExtensions/web-ext_command_reference#web-ext_run

^ This used to link directly to the `run` command. Using *find on page* to locate the *web-ext run* section is quite difficult since it's mentioned so many times.

[2019-10-10 19:35] kumar303 opened #505 "Preserve double dashes in titles (for web-ext reference)"
### Describe the problem and steps to reproduce it:

* Go to https://extensionworkshop.com/documentation/develop/web-ext-command-reference/
* Scroll to the first documented option, which is `--as-needed`

### What happened?

The double dash is rendered as em-dash (**–as-needed**).

### What did you expect to happen?

The double dash should be exactly that, like `--as-needed`. This is important bec

[2019-10-10 19:43] kumar303 commented on #505
Yeah, I double checked that the double dash (and not an em-dash) is in the source: `#### --as-needed`

https://raw.githubusercontent.com/mozilla/extension-workshop/4cde5f50ddcc90b38f17d922ee0318a38e6455f7/documentation/develop/web-ext-command-reference.md

[2019-10-10 19:57] caitmuenster commented on #505
Thanks @kumar303! The content for this page should be the same as https://wiki.developer.mozilla.org/en-US/docs/Mozilla/Add-ons/WebExtensions/web-ext_command_reference$revision/1584566.

[2019-10-11 08:39] muffinresearch commented on #405
It should also be noted the in-view code is disabled for touch devices in #504 to fix scroll perf/jank on Android. I'm beginning to think the right fix would be to make the overlays stay relative to the content that spawns them rather than try and close them based on scrolling of any kind. Tying into scrolling in any way seems to have historically causes a lot of undesirable issues on android.

[2019-10-11 15:37] #496 closed

[2019-10-11 17:51] caitmuenster commented on #505
It looks like this is [caused by our renderer](https://github.com/jekyll/jekyll/issues/620). @muffinresearch, any chance you could look into a fix for this?

[2019-10-14 09:53] AlexandraMoga commented on #496
Verified fixed on -dev:

![2019-10-14_12-47-39](https://user-images.githubusercontent.com/31961530/66742973-8faa3800-ee81-11e9-93b1-dfd65622bdc2.gif)

[2019-10-14 10:06] AlexandraMoga commented on #495
@muffinresearch I can no longer reproduce this after #504, therefore I'm closing the issue.

[2019-10-14 10:06] #495 closed

[2019-10-14 11:32] muffinresearch commented on #497
Also note, that we seem to have turned off auto-id generation here: https://github.com/mozilla/extension-workshop/blob/6c83d45da0952a4e8e843b00c72409b4d03019e5/_config.yml#L38

[2019-10-14 11:47] muffinresearch commented on #142
Closing this as it was filed for v1.

[2019-10-14 11:47] #142 closed

[2019-10-14 21:46] #505 closed

[2019-10-15 08:16] muffinresearch commented on #413
@AlexandraMoga can this still be reproduced? Hopefully with all the scroll event removal this should be fairing better.

[2019-10-16 08:35] AlexandraMoga commented on #413
@muffinresearch this is still reproducible on -dev:

![footer glitch](https://user-images.githubusercontent.com/31961530/66902209-f0b04800-f008-11e9-990e-91fe3fc341e9.gif)

[2019-10-16 08:38] muffinresearch commented on #413
Ah ok, I think this is caused by the animation of the browser chrome downwards and back up again, probably not something we can do much about since we can't control it.

[2019-10-16 11:47] wagnerand opened #511 "Ruby Sass EOL"
[code]

[2019-10-16 11:54] #503 closed

[2019-10-16 12:07] muffinresearch commented on #511
This will be fixed by moving to SASSC which is part of Jekyll 4.0 see https://github.com/mozilla/extension-workshop/issues/315

[2019-10-16 12:07] #511 closed

[2019-10-20 10:36] serendicoder commented on #222
Hi @caitmuenster , can I work on this issue?

[2019-10-21 16:29] caitmuenster commented on #222
Hi @serendicoder, thanks so much for your interest! For this project, we're currently only accepting patches for issues labeled `contrib: good first bug` or `contrib:welcome.`

If you'd like to take a look at some of our team's other projects, you can see a list of those issues [here](https://addons-pm.herokuapp.com/contrib/good-first-bugs/?dir=desc&sort=updatedAt). You can also find good first bu

[2019-10-23 19:04] kumar303 commented on #505
Thanks!

[2019-10-25 10:44] willdurand opened #515 ""Tags" block is displayed without tags"
### Describe the problem and steps to reproduce it:

1. Browse https://extensionworkshop.com/documentation/publish/
2. See the metadata at the bottom of the page

### What happened?

We see this:

![Screen Shot 2019-10-25 at 12 42 29](https://user-images.githubusercontent.com/217628/67565215-2d74f100-f725-11e9-8900-3aa758420927.png)

"Tags:" without any tags.

### What did you expect to happen?

T

[2019-10-28 09:45] #515 closed

[2019-11-06 18:39] mgunyho opened #523 "Deprecated manifest key in self-hosted extension tutorial"
The instructions on what to add to the extension manifest in [this tutorial](https://extensionworkshop.com/documentation/manage/updating-your-extension/#enable-update) are outdated. The manifest key `"applications"` should be `"browser_specific_settings"` instead, as described [here](https://developer.mozilla.org/en-US/docs/Mozilla/Add-ons/WebExtensions/manifest.json/browser_specific_settings).

[2019-11-12 23:12] caitmuenster commented on #523
Thanks for filing this issue! Looks like this was fixed by #527.

[2019-11-12 23:12] #523 closed

[2019-12-06 10:30] Rob--W commented on #498
This needs to be updated: https://extensionworkshop.com/documentation/develop/temporary-installation-in-firefox/

[2019-12-06 13:44] muffinresearch commented on #498
@caitmuenster do you know who we should speak to, to provide the updated content?

[2019-12-06 17:25] caitmuenster commented on #498
@rebloor Any chance you could take a look at this this week?

[2019-12-06 17:49] rebloor commented on #498
@caitmuenster It is rather out of date! I'll start looking at this today and will have you a PR to review on Monday. OK?

[2019-12-06 17:54] caitmuenster commented on #498
@rebloor Thank you! That sounds good.

[2019-12-09 09:15] rebloor commented on #498
@caitmuenster see https://github.com/mozilla/extension-workshop/pull/538  A couple of observations:

- I was unable to reproduce the shadow border around the revised "reload" image, so have left it without a border. Are you aware of any instructions for adding the border? We should probably define a tool/border standard for the site to ensure consistency. Keeping it simple is probably best, either

[2019-12-10 03:14] caitmuenster commented on #498
Thank you @rebloor! 🙌🏼

I am not. :( @muffinresearch might know? This is unfortunately beyond my current realm of knowledge.

Yes please! It's lower priority than the current batch of dev-doc-needed documentation, but I am +1 for making this documentation easier to keep updated in the future. :)

[2019-12-23 04:51] jufemaiz commented on #64
Is this actually resolved?

[2020-01-27 14:46] ritikasource commented on #267
Hi @AlexandraMoga can I claim this issue?

[2020-02-05 13:55] wagnerand opened #558 "Update references from IRC to Matrix"
Files that probably need updating:

[code]

Marking as P2 because IRC is going away in a few weeks.

[2020-02-19 18:06] caitmuenster opened #563 "Add "Get The Add-on" buttons to Promoting Your Extension page"
On the signed-in view of the [Developer Hub](https://addons.mozilla.org/developers/), we offer a link to a "Get The Add-on" button:

![AMO Dev Hub - Get The Add-on button](https://user-images.githubusercontent.com/23342476/74861355-132bd800-52ff-11ea-9c26-d3b80510729f.png)

This link [directs to a post](https://blog.mozilla.org/addons/2015/11/10/promote-your-add-ons-with-the-get-the-add-on-button/

[2020-02-19 18:45] #558 closed

[2020-02-21 16:46] bjherbison opened #564 "Mention Matrix manifestation"
Now that the Matrix is being used the add-ons room should be mentioned in the "Questions about add-on development" section on https://extensionworkshop.com/community/ .

https://chat.mozilla.org/#/room/#addons:mozilla.org

[2020-02-21 18:20] muffinresearch opened #565 "Fix config hostname"
The hostname in the config is incorrect and is impacting link tags in the page. Let's fix that.

[2020-02-21 18:36] #565 closed

[2020-02-23 08:50] grlwholifts commented on #564
Hi , i would like to take this up!

[2020-02-23 08:51] grlwholifts commented on #563
HI, i would like to take this up!

[2020-02-24 15:54] muffinresearch opened #567 "Fix tag pages canonical URL"
All tag pages are canonicalised to https://extensionworkshop.com/tags/ which is a empty page. All tag pages must be self-canonicalised. For example https://extensionworkshop.com/tags/?q=Mozilla must have `<link rel="canonical" href="https://extensionworkshop.com/tags/?q=Mozilla" />` and not `<link rel="canonical" href="https://extensionsworkshop.com/tags/" />`

Fixing this within the current set-u

[2020-02-24 15:57] muffinresearch opened #568 "Redirect URLS without a slash to the slashed variant"
We should have only one version of each article. That should be fine once the canonicals are fixed as they point always to the `/` version but for example https://extensionworkshop.com/documentation/publish/submitting-an-add-on should redirect 301 to https://extensionworkshop.com/documentation/publish/submitting-an-add-on/ so we do not have split up backlinks counting for two urls as only one will

[2020-02-27 21:40] caitmuenster commented on #563
So sorry @grlwholifts - this fell off my radar this week. :/ Here's what should happen:

1) Add a new section to the promoting-your-extension.md file above the "Friends, family, and colleagues" section. This section will be titled "Promote your add-on from your website."

2) Add a snazzy button to your website or blog telling people to "Get the add-on." We offer buttons in two sizes:

**172 x 60 p

[2020-02-28 08:08] grlwholifts commented on #563
Hi @caitmuenster no worries for the delay! I added the required changes. Let me know if they work 🦋

[2020-02-28 19:24] bjherbison commented on #564
The link for the chat room I gave is for linking through the Mozilla homeserver. I believe a better link is https://matrix.to/#/#add-ons:mozilla.org . (But verify that.)

[2020-02-29 07:28] grlwholifts commented on #564
Yes, @bjherbison i suppose thats a better link. Also, having a summary, I need to add this external link under a new heading, supposedly : `Add-Ons chat room`, beside the Mozilla Community Forum, Stack Overflow and Mailing List.

[2020-02-29 10:28] bjherbison commented on #564
I realized there are two important channels, #add-ons for development issues and #addon-reviewers to talk about review issues.

It might be best not to talk about all the nuances of how to connect on the community page, just mention the rooms and link to https://wiki.mozilla.org/Matrix .

I've been working on text to give during reviews when someone doesn't like my decision. The next paragraph is

[2020-03-02 23:13] caitmuenster opened #572 "Remove Telegram channel references"
We are not going to continue the Telegram bridge to Matrix, so we need to remove Telegram from the "Connect with Us" section on the landing page of Extension Workshop.

[2020-03-03 17:01] #572 closed

[2020-03-03 20:04] #563 closed

[2020-03-05 00:09] caitmuenster opened #576 "Remove documentation about sideloading outside of profile"
Note: this is probably not a good bug for contributors.

We need to remove documentation related to sideloading methods that will not be supported starting with Firefox 74. Search results: https://extensionworkshop.com/search-results/?q=sideloading

[2020-03-05 16:21] ajinkabeer commented on #156
Hello @muffinresearch, I am outreachy applicant. Can I try this one out please?

[2020-03-05 19:14] Romicodes commented on #568
@bobsilverberg  any chance I could pick this up for Outreachy  May
2020

[2020-03-05 19:18] bobsilverberg commented on #568
@Romicodes I'm not sure how appropriate this would be for a first contribution, but you can give it a try. I am about to disappear for two weeks, but you can ping @willdurand and/or @muffinresearch for direction and assistance.

[2020-03-06 09:39] muffinresearch commented on #156
@ajinkabeer sure, go ahead.

[2020-03-06 10:15] ajinkabeer commented on #156
Hey @muffinresearch, thanks for assigning this issue to me. I looked up the whole codebase to find the above code section, but I couldn't. Is it fixed somehow? or the layout has been changed?
Correct me if I am wrong, please!.

[2020-03-06 11:07] muffinresearch commented on #156
@ajinkabeer indeeed it looks like this was cleaned up at some point without this bug being closed. On that basis I think this can be closed out.

[2020-03-06 11:07] #156 closed

[2020-03-06 14:05] Romicodes commented on #568
@willdurand   getting ready to work on this for Outreachy May 2020 ! Could you please  point me in the right direction ?

[2020-03-06 14:18] muffinresearch commented on #568
@Romicodes this issue probably isn't a good one because it will require configuration of s3 which is something that ops would need to handle.

[2020-03-06 14:21] Romicodes commented on #568
@muffinresearch  could you please assign a good first issue to work on from the extension-workshop? Thanks much!

[2020-03-06 14:24] muffinresearch opened #577 "Circle builds not running for a contributor's PR"
Historically we've had no issues with Circle running on PRS. But two branches for a contributor are stuck with the following message:

<img width="943" alt="Matrix_Room_Manifestation_by_grlwholifts_·_Pull_Request__571_·_mozilla_extension-workshop" src="https://user-images.githubusercontent.com/1514/76091656-e8f04080-5fb5-11ea-9c3c-ba240920b3da.png">

Here's an example of two branches that didn't f

[2020-03-06 14:43] Romicodes commented on #568
@bobsilverberg I did have a word with Stuart and  the redirect URL might not work because of the configuration of s3 which ops would need to handle. Could you please assign  a good first issue from the extension-workshop before you leave ? Thanks

[2020-03-06 15:01] Romicodes commented on #159
@muffinresearch  Would this make for a good first issue?

[2020-03-06 15:50] muffinresearch commented on #159
It's probably not a great one to start with, because there's a strong chance of this kind of refactoring causing unexpected regressions.

[2020-03-06 15:51] muffinresearch commented on #241
@Romicodes this might be a good one to take a look at, what do you think?

[2020-03-06 16:29] caitmuenster commented on #576
Flagging this for @rebloor.

[2020-03-06 18:32] Romicodes commented on #241
@muffinresearch  I would like to take this up ! Thank you.

[2020-03-06 23:37] bqbn commented on #577
I can't seem to be able to reproduce the issue. I filed a test PR https://github.com/mozilla/extension-workshop/pull/578, which trigger a build in CircleCI without problem (https://circleci.com/gh/mozilla/extension-workshop/tree/pull%2F578).

The github log shows the webhook for https://github.com/mozilla/extension-workshop/pull/571 was fired and received 200,

<img width="766" alt="Screen Shot 20

[2020-03-09 10:04] muffinresearch opened #580 "Remove whitespace from the build."
If you look at the HTML built by Jekyll there's a lot of extraneous whitespace. This is due to the way that liquid tags work.

We should look at using white-space control assuming we're on a version that supports that.

[2020-03-09 11:12] #564 closed

[2020-03-09 11:27] muffinresearch commented on #241
@Romicodes great, I've assigned that to you. Let me know if you have any questions.

[2020-03-09 17:10] caitmuenster opened #582 "Shorten title on homepage"
The title of the homagepage is really long:

![Screen Shot 2020-03-09 at 10 08 04 AM](https://user-images.githubusercontent.com/23342476/76239036-0f002580-61ee-11ea-836f-e72a80fe7aa1.png)

It should be: "Get help creating & publishing Firefox extensions | Extension Workshop"

[2020-03-09 17:16] caitmuenster opened #583 "De-duplicate titles of tag pages"
Right now, all tag pages (like https://extensionworkshop.com/tags/?q=WebExtensions and https://extensionworkshop.com/tags/?q=publish) have the same title, "Tags | Extension Workshop."

![Screen Shot 2020-03-09 at 10 13 56 AM](https://user-images.githubusercontent.com/23342476/76239386-b7ae8500-61ee-11ea-9f24-a554b84d03d4.png)

We should set the tag in the title, like, "Permissions | Tags | Extensi

[2020-03-09 17:24] caitmuenster opened #584 "Shorten all other page titles to less than 70 characters"
Note: this issue is probably not appropriate for contributors at this time.

Shortening all page titles to less than 70 characters will help with SEO. This is related to #582.

Before this issue can be fixed, we probably need to supply the 70 character or less titles for all pages.

I think this can be fixed by updating the 'title' line in each .md file:

![Screen Shot 2020-03-09 at 10 23 10 AM](h

[2020-03-09 17:28] caitmuenster opened #585 "Unique descriptions for each URL"
Currently, all URLs have the same description. All pages must have a unique meta description or none.

[2020-03-09 17:53] ani-sha commented on #582
Hi @caitmuenster, I am an Outreachy applicant in May 2020. Can I work on this issue?

[2020-03-09 17:54] championshuttler commented on #582
Hi @ani-sha,  `_config.yml` this is the file you need to make changes, go for it. Thanks

[2020-03-09 18:40] muffinresearch commented on #583
This is similar to the problem here https://github.com/mozilla/extension-workshop/issues/567

We shouldn't be using the search for tags at all, I think this is something that will need a pretty in-depth refactor to achieve. Moving off Jekyll might provide a good opportunity for example, at least it's probably not worth attempting this before then unless it doesn't happen.

[2020-03-09 18:41] muffinresearch commented on #585
This could likely be solved by adding descriptions to the `page.yml` data and then exposing that when building the site.

[2020-03-09 18:43] muffinresearch commented on #584
This should have a test that looks at the yaml and validates it when this is fixed.

[2020-03-09 19:23] caitmuenster commented on #585
This issue is blocked until we settle on changes to the site from the Outreachy project.

[2020-03-09 19:33] muffinresearch commented on #577
@bqbn would be interesting to try this again with an account with 0 permissions.

[2020-03-09 21:07] obviyus commented on #582
I too am interested in working on this!

[2020-03-09 21:12] caitmuenster commented on #582
Hi @obviyus, welcome! Let's give @ani-sha a few days to submit a pull request.

In the meantime, do you want to take a look at [other good-first-bugs](https://addons-pm.herokuapp.com/contrib/good-first-bugs/?dir=desc&sort=updatedAt) for our add-ons projects?

[2020-03-09 21:15] obviyus commented on #582
Will do! Thanks @caitmuenster

[2020-03-11 10:03] #568 closed

[2020-03-11 13:57] muffinresearch-test commented on #577
See also https://github.com/mozilla/extension-workshop/pull/587

[2020-03-11 13:59] muffinresearch-test commented on #577
See also https://github.com/mozilla/extension-workshop/pull/588 (branch is master)

[2020-03-11 15:51] muffinresearch commented on #577
@bqbn I concur with not being able to repro. I think we can just close this out and see if it comes up again.

[2020-03-11 15:51] #577 closed

[2020-03-11 20:50] Phylis05 commented on #157
Hey @muffinresearch. Still working on this? I would like to take up the issue

[2020-03-12 10:33] muffinresearch commented on #157
@Phylis05 it's not assigned so no-one is working on it :).

Feel free to take a look and see what needs to change to reflect the levels correctly. Let me know if you have any questions.

[2020-03-12 10:38] muffinresearch commented on #580
This should probably be a find replace to replace `{%` with `{%-` and `%}`  with `-%}`.

Note, there's a chance there might be places where removing white-space can cause an issue so this will need careful checking vs production when reviewed.

Note this is blocked by #315

[2020-03-12 12:19] muffinresearch opened #589 "Feed import is broken"
The feed can't be loaded due to missing CORS headers on the feed endpoint.

FF shows this in the console: `Cross-Origin Request Blocked: The Same Origin Policy disallows reading the remote resource at https://blog.mozilla.org/addons/feed/. (Reason: CORS header ‘Access-Control-Allow-Origin’ missing).`

[code]

To fix this we'd need CORS headers to be added to the feed endpoint. This would have prev

[2020-03-12 12:30] muffinresearch commented on #315
After seeing some progress on the deps, I've tried getting a branch running on Jekyll 4.0.

The bad news is this time to build from a cold cache:

[code]

That's > 13 minutes.

Also the resulting site doesn't quite work correctly. It might be too early to say if there aren't other issue causing the build to be this slow, but this doesn't look good.

[2020-03-13 14:12] Kirti2502 commented on #582
Hi, I am an Outreachy applicant. I would like to work on this issue of it is not being worked upon.

[2020-03-13 19:02] muffinresearch commented on #589
@bqbn is this something ops can help with or is there someone else we should point this to?

[2020-03-13 21:26] bqbn commented on #589
`https://blog.mozilla.org/` is managed by IT. We can probably [file a bugzilla ticket](https://bugzilla.mozilla.org/enter_bug.cgi?product=Websites) to have it addressed. I was told Corey's team manages it.

[2020-03-15 18:05] obviyus commented on #582
Hey @caitmuenster, it's been nearly a week with no activity. Is it okay if I work on this?

[2020-03-15 18:08] ani-sha commented on #582
Hey @obviyus I was facing some problems with setting the project. And I'm working on this issue. Will make a PR tomorrow.

[2020-03-16 16:16] caitmuenster commented on #241
Hey @Romicodes, how's it going with this bug?

[2020-03-16 21:33] #582 closed

[2020-03-17 00:25] Romicodes commented on #241
Hello @caitmuenster, I did start work on this bug, by cloning the repository  and looking up how to address the bug.I will be in touch with questions shortly!

[2020-03-17 16:18] caitmuenster opened #592 "Change site name to Firefox Extension Workshop"
To help improve SEO, we're renaming this site to Firefox Extension Workshop.

For this issue, we need to update:

- Header bar:
![Screen Shot 2020-03-17 at 9 14 03 AM](https://user-images.githubusercontent.com/23342476/76876820-b6eda280-682f-11ea-9514-8b62b1a13779.png) (be sure to check how this formats)

- The site title in `config.yml`

[2020-03-17 16:20] caitmuenster opened #593 "Update references of Extension Workshop to Firefox Extension Workshop"
Related to #592. To improve SEO, we are updating the name of this site to Firefox Extension Workshop.

For this issue, we need to:

- Find all instances in the content of this site where we refer to it as Extension Workshop
- Update those instances to be Firefox Extension Workshop

[2020-03-17 16:42] caitmuenster opened #594 "Homepage content updates - use the word "add-on" more"
To help improve SEO, we need to be a little bit more liberal with our use of the word "add-on" on Firefox Extension Workshop.

We can start by making the following content changes on the homepage:

- Update "Get help creating and publishing Firefox extensions that make browsing smarter, safer, and faster." to "Get help creating and publishing Firefox add-ons that make browsing smarter, safer, and

[2020-03-17 16:58] obviyus commented on #592
I’d like to take this up!

[2020-03-17 17:07] caitmuenster commented on #592
Go for it @obviyus!

[2020-03-17 17:55] obviyus commented on #593
Having just worked on #592, this would be a great issue to continue my work with. Can I get assigned to it?

[2020-03-17 17:58] caitmuenster commented on #593
Hey @obviyus, thanks for your interest! Would it be ok if you wait for a day or two to see if anyone else is interested in working on this?

[2020-03-17 17:59] obviyus commented on #593
Sure!

[2020-03-17 17:59] championshuttler commented on #593
Hey @obviyus thanks for the interest but we are little short on good first bugs so please wait if someone else is interested :)

[2020-03-17 20:04] xlisachan commented on #594
@caitmuenster, can I work on this?

[2020-03-17 20:13] caitmuenster commented on #594
Hi @xlisachan, go ahead! We'll formally assign you when you submit a PR.

[2020-03-17 20:41] #594 closed

[2020-03-17 21:37] AyahRamahi commented on #593
Hello 😄 I am an Outreachy 2020 applicant, can I work on this issue?

[2020-03-17 21:41] caitmuenster commented on #593
Hey @AyahRamahi, go for it!

[2020-03-18 16:55] Romicodes commented on #241
Hello @caitmuenster , am unable to start this on the web server. I have no experience with Jekyll, looked up the documentation and installed it on node using npm install Jekyll. Does this seem correct?

[2020-03-18 18:47] championshuttler commented on #241
@Romicodes what is the exact error you are getting ?

[2020-03-19 22:14] Romicodes commented on #241
@championshuttler ,  this is the message I get

**Lifecycle scripts included in extension-workshop:
  test
    npm run prettier-ci && npm run lint && npm run stylelint
  start
    jekyll serve --unpublished --incremental --config _config.yml,_confi

available via `npm run-script`:
  lint
    eslint .
  stylelint
    stylelint --syntax scss **/*.scss
  prettier
    prettier --write '**'
  prettier-

[2020-03-20 09:20] bjherbison commented on #564
This was closed 11 days ago. When does it get deployed?

[2020-03-20 09:28] championshuttler commented on #564
@bjherbison Its not yet deployed to prod , probably next week :)

[2020-03-20 09:50] ivanmartos commented on #64
any suggestions what to do with that?

[2020-03-20 15:49] caitmuenster opened #599 "Update content on Add-ons for desktop apps"
[Support for sideloading has ended with Firefox 74. ](https://blog.mozilla.org/addons/2020/03/10/support-for-extension-sideloading-has-ended/) The content for this page needs to be updated. Once you have updated the text based on the copy below, be sure you update the lines for `contributors`, `last_updated_by`, and `date`.

You can find the template for the alert module in the `sidebar-master-tem

[2020-03-20 16:01] caitmuenster opened #600 "Update content for Self Distribution Options"
In the `self-distribution` file, we need to update the content for self-distribution options. Updated text is below:
____

When you choose to distribute an add-on yourself, they can be installed using the following methods:

* Web download (link to `/documentation/publish/submitting-an-add-on/#self-distribution`)—make your extension available on a suitable web accessible server and when the user d

[2020-03-20 16:01] ani-sha commented on #599
@caitmuenster I would like to work on this.

[2020-03-20 16:02] caitmuenster commented on #599
Go for it @ani-sha!

[2020-03-20 16:06] caitmuenster opened #601 "Update content on Publish Overview page"
In the "Distribute your signed extension" on the Publish overview page, the following changes need to be made:

- Edit "Provide a download location for the signed extension file for users to self-install or sideload into Firefox." to "Provide a download location for the signed extension file for users to self-install into Firefox."

- Remove "Include the extension installation as part of the insta

[2020-03-20 19:00] #592 closed

[2020-03-20 19:07] caitmuenster commented on #241
Hey @Romicodes, I also have some weird stuff going on with my local build. :/ We may need you to hop on to the Add-ons channel on Matrix to troubleshoot.

I run `bundle exec jekyll serve --unpublished --config _config.yml,_config_local.yml` to start a local build. If I get an error code about missing assets, I run `SVGO_BIN='node_modules/svgo/bin/svgo' bundle exec jekyll serve --unpublished --conf

[2020-03-20 21:05] #599 closed

[2020-03-21 13:01] apsychogirl commented on #601
Hi, Can I take this up?

[2020-03-21 13:11] piculet commented on #600
Hi @caitmuenster I'd like to give a shot to this issue, I am an outreachy applicant.

[2020-03-21 13:11] championshuttler commented on #601
Go for it. Thanks

On Sat, 21 Mar, 2020, 6:31 PM Megha Kumari, <notifications@github.com>
wrote:

[2020-03-21 13:15] championshuttler commented on #600
Go for it. Thanks

[2020-03-21 14:27] piculet commented on #428
Can i take this up?

[2020-03-21 16:10] piculet commented on #600
@championshuttler Do i need to remove the links from `Add-ons for use with a desktop app` and `Add-ons in an enterprise environment` or retain the previous links ?

[2020-03-21 16:20] championshuttler commented on #600
I think those links need to be removed as you did in PR , @caitmuenster can you please confirm it once

[2020-03-21 17:10] piculet commented on #428
Is this issue open to work?

[2020-03-23 01:28] caitmuenster commented on #600
Commented on the PR. Link to Add-ons in the enterprise environment should remain. Sorry for overlooking that!

[2020-03-23 13:20] #593 closed

[2020-03-23 14:48] championshuttler opened #608 "Change instances of webextensions.tech to webextensions.in"
Domain got expire , we needed to migrate to new domain name

The tool is migrated to https://webextensions.in

Change all the instances of webextensions.tech to webextensions.in